/*! ploume.io v0.0.0 | MIT License | github.com/GentillePlume/ploume */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:100,300,400,500,600,700,800");
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
div.is-white,
nav.is-white,
a.is-white,
header.is-white,
aside.is-white,
button.is-white,
form.is-white {
  background-color: #FFF;
  color: #707070;
}

div.is-white_hover:hover,
nav.is-white_hover:hover,
a.is-white_hover:hover,
header.is-white_hover:hover,
aside.is-white_hover:hover,
button.is-white_hover:hover,
form.is-white_hover:hover {
  background-color: #FFF !important;
}

div.is-white_hover:hover > *,
nav.is-white_hover:hover > *,
a.is-white_hover:hover > *,
header.is-white_hover:hover > *,
aside.is-white_hover:hover > *,
button.is-white_hover:hover > *,
form.is-white_hover:hover > * {
  color: #707070 !important;
}

div.is-black,
nav.is-black,
a.is-black,
header.is-black,
aside.is-black,
button.is-black,
form.is-black {
  background-color: #000;
  color: #FFF;
}

div.is-dark,
nav.is-dark,
a.is-dark,
header.is-dark,
aside.is-dark,
button.is-dark,
form.is-dark {
  background-color: #363636;
}

div.is-dark *,
nav.is-dark *,
a.is-dark *,
header.is-dark *,
aside.is-dark *,
button.is-dark *,
form.is-dark * {
  color: #FFF;
}

div.is-lightdark,
nav.is-lightdark,
a.is-lightdark,
header.is-lightdark,
aside.is-lightdark,
button.is-lightdark,
form.is-lightdark {
  background-color: #505050;
}

div.is-lightdark_hover:hover,
nav.is-lightdark_hover:hover,
a.is-lightdark_hover:hover,
header.is-lightdark_hover:hover,
aside.is-lightdark_hover:hover,
button.is-lightdark_hover:hover,
form.is-lightdark_hover:hover {
  background-color: #505050 !important;
}

div.is-lightdark_hover:hover > *,
nav.is-lightdark_hover:hover > *,
a.is-lightdark_hover:hover > *,
header.is-lightdark_hover:hover > *,
aside.is-lightdark_hover:hover > *,
button.is-lightdark_hover:hover > *,
form.is-lightdark_hover:hover > * {
  color: #FFF !important;
}

div.is-lightdark *,
nav.is-lightdark *,
a.is-lightdark *,
header.is-lightdark *,
aside.is-lightdark *,
button.is-lightdark *,
form.is-lightdark * {
  color: #FFF;
}

div.is-light,
nav.is-light,
a.is-light,
header.is-light,
aside.is-light,
button.is-light,
form.is-light {
  background-color: #f5f5f5;
}

div.is-light_hover:hover,
nav.is-light_hover:hover,
a.is-light_hover:hover,
header.is-light_hover:hover,
aside.is-light_hover:hover,
button.is-light_hover:hover,
form.is-light_hover:hover {
  background-color: #f5f5f5 !important;
}

div.is-light_hover:hover > *,
nav.is-light_hover:hover > *,
a.is-light_hover:hover > *,
header.is-light_hover:hover > *,
aside.is-light_hover:hover > *,
button.is-light_hover:hover > *,
form.is-light_hover:hover > * {
  color: #707070 !important;
}

div.is-primary,
nav.is-primary,
a.is-primary,
header.is-primary,
aside.is-primary,
button.is-primary,
form.is-primary {
  background-color: #00d1b2;
  color: #FFF;
}

div.is-primary_hover:hover,
nav.is-primary_hover:hover,
a.is-primary_hover:hover,
header.is-primary_hover:hover,
aside.is-primary_hover:hover,
button.is-primary_hover:hover,
form.is-primary_hover:hover {
  background-color: #00d1b2 !important;
  color: #FFF !important;
}

div.is-primary_hover:hover > *,
nav.is-primary_hover:hover > *,
a.is-primary_hover:hover > *,
header.is-primary_hover:hover > *,
aside.is-primary_hover:hover > *,
button.is-primary_hover:hover > *,
form.is-primary_hover:hover > * {
  color: #FFF !important;
}

div.is-link,
nav.is-link,
a.is-link,
header.is-link,
aside.is-link,
button.is-link,
form.is-link {
  background-color: #3273dc;
  color: #FFF;
}

div.is-link_hover:hover,
nav.is-link_hover:hover,
a.is-link_hover:hover,
header.is-link_hover:hover,
aside.is-link_hover:hover,
button.is-link_hover:hover,
form.is-link_hover:hover {
  background-color: #3273dc !important;
}

div.is-link_hover:hover > *,
nav.is-link_hover:hover > *,
a.is-link_hover:hover > *,
header.is-link_hover:hover > *,
aside.is-link_hover:hover > *,
button.is-link_hover:hover > *,
form.is-link_hover:hover > * {
  color: white !important;
}

div.is-link.is-outlined,
nav.is-link.is-outlined,
a.is-link.is-outlined,
header.is-link.is-outlined,
aside.is-link.is-outlined,
button.is-link.is-outlined,
form.is-link.is-outlined {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
}

div.is-link.is-outlined:hover,
nav.is-link.is-outlined:hover,
a.is-link.is-outlined:hover,
header.is-link.is-outlined:hover,
aside.is-link.is-outlined:hover,
button.is-link.is-outlined:hover,
form.is-link.is-outlined:hover {
  background-color: #3273dc;
  color: white;
}

div.is-info,
nav.is-info,
a.is-info,
header.is-info,
aside.is-info,
button.is-info,
form.is-info {
  background-color: #209cee;
  color: #FFF;
}

div.is-info_hover:hover,
nav.is-info_hover:hover,
a.is-info_hover:hover,
header.is-info_hover:hover,
aside.is-info_hover:hover,
button.is-info_hover:hover,
form.is-info_hover:hover {
  background-color: #209cee !important;
}

div.is-info_hover:hover > *,
nav.is-info_hover:hover > *,
a.is-info_hover:hover > *,
header.is-info_hover:hover > *,
aside.is-info_hover:hover > *,
button.is-info_hover:hover > *,
form.is-info_hover:hover > * {
  color: white !important;
}

div.is-info.is-outlined,
nav.is-info.is-outlined,
a.is-info.is-outlined,
header.is-info.is-outlined,
aside.is-info.is-outlined,
button.is-info.is-outlined,
form.is-info.is-outlined {
  background-color: transparent;
  border-color: #209cee;
  color: #209cee;
}

div.is-success,
nav.is-success,
a.is-success,
header.is-success,
aside.is-success,
button.is-success,
form.is-success {
  background-color: #23d160;
  color: #FFF;
}

div.is-success_hover:hover,
nav.is-success_hover:hover,
a.is-success_hover:hover,
header.is-success_hover:hover,
aside.is-success_hover:hover,
button.is-success_hover:hover,
form.is-success_hover:hover {
  background-color: #23d160 !important;
}

div.is-success_hover:hover > *,
nav.is-success_hover:hover > *,
a.is-success_hover:hover > *,
header.is-success_hover:hover > *,
aside.is-success_hover:hover > *,
button.is-success_hover:hover > *,
form.is-success_hover:hover > * {
  color: white !important;
}

div.is-success:hover,
nav.is-success:hover,
a.is-success:hover,
header.is-success:hover,
aside.is-success:hover,
button.is-success:hover,
form.is-success:hover {
  background-color: #22c65b;
}

div.is-warning,
nav.is-warning,
a.is-warning,
header.is-warning,
aside.is-warning,
button.is-warning,
form.is-warning {
  background-color: #ffdd57;
}

div.is-warning_hover:hover,
nav.is-warning_hover:hover,
a.is-warning_hover:hover,
header.is-warning_hover:hover,
aside.is-warning_hover:hover,
button.is-warning_hover:hover,
form.is-warning_hover:hover {
  background-color: #ffdd57 !important;
}

div.is-warning_hover:hover > *,
nav.is-warning_hover:hover > *,
a.is-warning_hover:hover > *,
header.is-warning_hover:hover > *,
aside.is-warning_hover:hover > *,
button.is-warning_hover:hover > *,
form.is-warning_hover:hover > * {
  color: #707070 !important;
}

div.is-caution,
nav.is-caution,
a.is-caution,
header.is-caution,
aside.is-caution,
button.is-caution,
form.is-caution {
  background-color: #ED6E59;
  color: #FFF;
}

div.is-caution_hover:hover,
nav.is-caution_hover:hover,
a.is-caution_hover:hover,
header.is-caution_hover:hover,
aside.is-caution_hover:hover,
button.is-caution_hover:hover,
form.is-caution_hover:hover {
  background-color: #ED6E59 !important;
}

div.is-caution_hover:hover > *,
nav.is-caution_hover:hover > *,
a.is-caution_hover:hover > *,
header.is-caution_hover:hover > *,
aside.is-caution_hover:hover > *,
button.is-caution_hover:hover > *,
form.is-caution_hover:hover > * {
  color: white !important;
}

div.is-danger,
nav.is-danger,
a.is-danger,
header.is-danger,
aside.is-danger,
button.is-danger,
form.is-danger {
  background-color: #ff3860;
  color: #FFF;
}

div.is-danger_hover:hover,
nav.is-danger_hover:hover,
a.is-danger_hover:hover,
header.is-danger_hover:hover,
aside.is-danger_hover:hover,
button.is-danger_hover:hover,
form.is-danger_hover:hover {
  background-color: #ff3860 !important;
}

div.is-danger_hover:hover > *,
nav.is-danger_hover:hover > *,
a.is-danger_hover:hover > *,
header.is-danger_hover:hover > *,
aside.is-danger_hover:hover > *,
button.is-danger_hover:hover > *,
form.is-danger_hover:hover > * {
  color: white !important;
}

div.is-danger.is-outlined,
nav.is-danger.is-outlined,
a.is-danger.is-outlined,
header.is-danger.is-outlined,
aside.is-danger.is-outlined,
button.is-danger.is-outlined,
form.is-danger.is-outlined {
  background-color: transparent;
  border-color: #ff3860;
  color: #ff3860;
}

div.is-danger.is-outlined:hover,
nav.is-danger.is-outlined:hover,
a.is-danger.is-outlined:hover,
header.is-danger.is-outlined:hover,
aside.is-danger.is-outlined:hover,
button.is-danger.is-outlined:hover,
form.is-danger.is-outlined:hover {
  background-color: #ff3860;
  color: white;
}

p.is-white, span.is-white, h1.is-white, h2.is-white, h3.is-white, h3.is-white, h5.is-white, h6.is-white {
  color: #FFF;
}

p.is-black, span.is-black, h1.is-black, h2.is-black, h3.is-black, h3.is-black, h5.is-black, h6.is-black {
  color: #000;
}

p.is-dark, span.is-dark, h1.is-dark, h2.is-dark, h3.is-dark, h3.is-dark, h5.is-dark, h6.is-dark {
  color: #363636;
}

p.is-light, span.is-light, h1.is-light, h2.is-light, h3.is-light, h3.is-light, h5.is-light, h6.is-light {
  color: #f5f5f5;
}

p.is-primary, span.is-primary, h1.is-primary, h2.is-primary, h3.is-primary, h3.is-primary, h5.is-primary, h6.is-primary {
  color: #00d1b2;
}

p.is-link, span.is-link, h1.is-link, h2.is-link, h3.is-link, h3.is-link, h5.is-link, h6.is-link {
  color: #3273dc;
}

p.is-info, span.is-info, h1.is-info, h2.is-info, h3.is-info, h3.is-info, h5.is-info, h6.is-info {
  color: #209cee;
}

p.is-success, span.is-success, h1.is-success, h2.is-success, h3.is-success, h3.is-success, h5.is-success, h6.is-success {
  color: #23d160;
}

p.is-warning, span.is-warning, h1.is-warning, h2.is-warning, h3.is-warning, h3.is-warning, h5.is-warning, h6.is-warning {
  color: #ffdd57;
}

p.is-caution, span.is-caution, h1.is-caution, h2.is-caution, h3.is-caution, h3.is-caution, h5.is-caution, h6.is-caution {
  color: #ED6E59;
}

p.is-danger, span.is-danger, h1.is-danger, h2.is-danger, h3.is-danger, h3.is-danger, h5.is-danger, h6.is-danger {
  color: #ff3860;
}

.bg-white {
  background-color: white;
  color: black;
}

.bg-blue {
  background-color: #0e348a;
  color: white;
}

.bg-top {
  background-position: top;
}

.bg-right {
  background-position: right;
}

.bg-left {
  background-position: left;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg--auto {
  background-size: auto;
}

.opacity-10, .op-10 {
  opacity: .10;
}

.opacity-25, .op-25 {
  opacity: .25;
}

.opacity-35, .op-35 {
  opacity: .35;
}

.opacity-50, .op-50 {
  opacity: .50;
}

.opacity-75, .op-75 {
  opacity: .75;
}

.opacity-85, .op-85 {
  opacity: .85;
}

.is-tilted-right-1,
.is-leaning-right-1 {
  transform: skewY(1deg);
}

.is-tilted-right-1 > p, .is-tilted-right-1 h1,
.is-leaning-right-1 > p,
.is-leaning-right-1 h1 {
  transform: skewY(-1deg);
}

.bordered-5 {
  border-radius: 5px;
}

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 4rem;
  z-index: 99;
}

.navbar-logo {
  height: 100%;
  padding: 2.5px;
}

.navbar-logo img {
  height: 100%;
}

.navbar-right {
  margin-left: auto;
}

.navbar-menu {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  color: #707070;
}

.navbar-item[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.navbar-item span.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 0;
}

.navbar-item span {
  margin-left: 10px;
}

.has-overlay {
  position: relative;
}

.has-overlay .is-overlay, .has-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: skewY(0deg);
}

.has-overlay > * {
  z-index: 0;
}

html {
  min-width: 300px;
  overflow-y: scroll;
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

body, button, input, textarea, select {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.flex {
  display: flex;
}

.flex-row, .flex-r, .flex-h {
  display: flex;
  flex-direction: row;
}

.flex-row.v-center, .flex-row.v-centered, .flex-r.v-center, .flex-r.v-centered, .flex-h.v-center, .flex-h.v-centered {
  justify-content: center;
}

.flex-row.v-end, .flex-r.v-end, .flex-h.v-end {
  justify-content: flex-end;
}

.flex-row.v-start, .flex-r.v-start, .flex-h.v-start {
  justify-content: flex-start;
}

.flex-row.h-center, .flex-row.h-centered, .flex-r.h-center, .flex-r.h-centered, .flex-h.h-center, .flex-h.h-centered {
  align-items: center;
}

.flex-row.h-end, .flex-r.h-end, .flex-h.h-end {
  align-items: flex-end;
}

.flex-row.h-start, .flex-r.h-start, .flex-h.h-start {
  align-items: flex-start;
}

.flex-col, .flex-c, .flex-column, .flex-v {
  display: flex;
  flex-direction: column;
}

.flex-col.v-center, .flex-col.v-centered, .flex-c.v-center, .flex-c.v-centered, .flex-column.v-center, .flex-column.v-centered, .flex-v.v-center, .flex-v.v-centered {
  align-items: center;
}

.flex-col.h-center, .flex-col.h-centered, .flex-c.h-center, .flex-c.h-centered, .flex-column.h-center, .flex-column.h-centered, .flex-v.h-center, .flex-v.h-centered {
  justify-content: center;
}

.content-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.fullsize {
  width: 100%;
  height: 100%;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.w-half {
  width: 50%;
}

.w-10 {
  width: 0%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-full {
  width: 100%;
}

.w-fullscreen {
  width: 100vw;
}

.h-half {
  height: 50%;
}

.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-35 {
  height: 35%;
}

.h-40 {
  height: 40%;
}

.h-45 {
  height: 45%;
}

.h-50 {
  height: 50%;
}

.h-55 {
  height: 55%;
}

.h-60 {
  height: 60%;
}

.h-65 {
  height: 65%;
}

.h-70 {
  height: 70%;
}

.h-75 {
  height: 75px;
}

.h-75perc, .h-75pe {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 90%;
}

.h-95 {
  height: 95%;
}

.h-screen {
  height: 100vh;
}

.h-screen-10 {
  height: 0vh;
}

.h-screen-15 {
  height: 15vh;
}

.h-screen-20 {
  height: 20vh;
}

.h-screen-25 {
  height: 25vh;
}

.h-screen-30 {
  height: 30vh;
}

.h-screen-35 {
  height: 35vh;
}

.h-screen-40 {
  height: 40vh;
}

.h-screen-45 {
  height: 45vh;
}

.h-screen-50 {
  height: 50vh;
}

.h-screen-55 {
  height: 55vh;
}

.h-screen-60 {
  height: 60vh;
}

.h-screen-65 {
  height: 65vh;
}

.h-screen-70 {
  height: 70vh;
}

.h-screen-75 {
  height: 75vh;
}

.h-screen-80 {
  height: 80vh;
}

.h-screen-85 {
  height: 85vh;
}

.h-screen-90 {
  height: 90vh;
}

.h-screen-95 {
  height: 95vh;
}

.h-full {
  height: 100%;
}

.h-fullscreen {
  height: 100vh;
}

.fixed {
  position: fixed;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.fixed-top-5 {
  top: 5px;
}

.fixed-top-15 {
  top: 15px;
}

.fixed-right-15 {
  right: 15px;
}

.floating,
.absolute {
  position: absolute !important;
}

.relative {
  position: relative;
}

.bottom,
.bot {
  bottom: 0;
}

.bottom-5,
.bot-5 {
  bottom: 5%;
}

.bottom-10,
.bot-10 {
  bottom: 10%;
}

.bottom-15,
.bot-15 {
  bottom: 15%;
}

.bottom-20,
.bot-20 {
  bottom: 20%;
}

.bottom-25,
.bot-25 {
  bottom: 25%;
}

.bottom-30,
.bot-30 {
  bottom: 30%;
}

.bottom-33,
.bot-33 {
  bottom: 33%;
}

.bottom-35,
.bot-35 {
  bottom: 35%;
}

.bottom-40,
.bot-40 {
  bottom: 40%;
}

.bottom-45,
.bot-45 {
  bottom: 45%;
}

.bottom-50,
.bot-50 {
  bottom: 50%;
}

.bottom-55,
.bot-55 {
  bottom: 55%;
}

.bottom-60,
.bot-60 {
  bottom: 60%;
}

.bottom-65,
.bot-65 {
  bottom: 65%;
}

.bottom-70,
.bot-70 {
  bottom: 70%;
}

.bottom-75,
.bot-75 {
  bottom: 75%;
}

.bottom-80,
.bot-80 {
  bottom: 80%;
}

.bottom-85,
.bot-85 {
  bottom: 85%;
}

.bottom-90,
.bot-90 {
  bottom: 90%;
}

.bottom-95,
.bot-95 {
  bottom: 95%;
}

.top {
  top: 0;
}

.top-5 {
  top: 5px;
}

.top-10 {
  top: 10px;
}

.top-10perc, .top-10pe {
  top: 10%;
}

.top-15 {
  top: 15px;
}

.top-20 {
  top: 20px;
}

.top-25 {
  top: 25px;
}

.top-30 {
  top: 30px;
}

.top-33 {
  top: 33px;
}

.top-35 {
  top: 35px;
}

.top-40 {
  top: 40px;
}

.top-45 {
  top: 45px;
}

.top-50 {
  top: 50px;
}

.top-55 {
  top: 55px;
}

.top-60 {
  top: 60px;
}

.top-65 {
  top: 65px;
}

.top-70 {
  top: 70px;
}

.top-75 {
  top: 75px;
}

.top-80 {
  top: 80px;
}

.top-85 {
  top: 85px;
}

.top-90 {
  top: 90px;
}

.top-95 {
  top: 95px;
}

.right {
  right: 0;
}

.right-5 {
  right: 5px;
}

.right-10 {
  right: 10px;
}

.right-15 {
  right: 15px;
}

.right-20 {
  right: 20px;
}

.right-25 {
  right: 25px;
}

.right-30 {
  right: 30px;
}

.right-33 {
  right: 33px;
}

.right-35 {
  right: 35px;
}

.right-40 {
  right: 40px;
}

.right-45 {
  right: 45px;
}

.right-50 {
  right: 50px;
}

.right-55 {
  right: 55px;
}

.right-60 {
  right: 60px;
}

.right-65 {
  right: 65px;
}

.right-70 {
  right: 70px;
}

.right-75 {
  right: 75px;
}

.right-80 {
  right: 80px;
}

.right-85 {
  right: 85px;
}

.right-90 {
  right: 90px;
}

.right-95 {
  right: 95px;
}

.left {
  left: 0;
}

.left-5 {
  left: 5%;
}

.left-10 {
  left: 10%;
}

.left-15 {
  left: 15%;
}

.left-20 {
  left: 20%;
}

.left-25 {
  left: 25%;
}

.left-30 {
  left: 30%;
}

.left-33 {
  left: 33%;
}

.left-35 {
  left: 35%;
}

.left-40 {
  left: 40%;
}

.left-45 {
  left: 45%;
}

.left-50 {
  left: 50%;
}

.left-55 {
  left: 55%;
}

.left-60 {
  left: 60%;
}

.left-65 {
  left: 65%;
}

.left-70 {
  left: 70%;
}

.left-75 {
  left: 75%;
}

.left-80 {
  left: 80%;
}

.left-85 {
  left: 85%;
}

.left-90 {
  left: 90%;
}

.left-95 {
  left: 95%;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-10perc {
  margin-top: 10%;
}

.mt-25 {
  margin-top: 25px;
}

.mt-25perc {
  margin-top: 25%;
}

.mt-50 {
  margin-top: 50px;
}

.mt-50perc {
  margin-top: 50%;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-25perc {
  margin-bottom: 25%;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-50perc {
  margin-bottom: 50%;
}

.ml-auto {
  margin-left: auto;
}

.ml-25 {
  margin-left: 25px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-auto {
  margin-right: auto;
}

.mh-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mh-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-100 {
  padding-top: 100px;
}

.plr-5, .ph-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.plr-10, .ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-10pe, .plr-10perc, .ph-10pe, .ph-10perc {
  padding-left: 10%;
  padding-right: 10%;
}

.plr-20, .ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.plr-20pe, .plr-20perc, .ph-20pe, .ph-20perc {
  padding-left: 20%;
  padding-right: 20%;
}

.plr-25, .ph-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-25pe, .plr-25perc, .ph-25pe, .ph-25perc {
  padding-left: 25%;
  padding-right: 25%;
}

.ptb-5, .pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10, .pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-25, .pv-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  text-decoration: none;
}

.title {
  font-size: 3rem;
}

.subtitle {
  opacity: .85;
}

.is-italic, .italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.semi-bold, .semibold, .is-semibold, .is-semi-bold {
  font-weight: 500;
}

.bold, .is-bold {
  font-weight: bold;
}

.text-centered, .text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.is-1 {
  font-size: 3rem;
}

.is-2 {
  font-size: 2.5rem;
}

.is-3 {
  font-size: 2rem;
}

.is-4 {
  font-size: 1.5rem;
}

.is-5 {
  font-size: 1.25em;
}

.is-6 {
  font-size: 1em;
}

.is-7 {
  font-size: .75em;
}

.is-8 {
  font-size: .5em;
}

.is-9 {
  font-size: .25em;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.button {
  display: inline-flex;
  position: relative;
  border: 0;
  cursor: pointer;
  border: 1px solid transparent;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  padding-bottom: calc(.375em - 1px);
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 1em;
  outline: none;
}

.button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}

.button .icon {
  margin-left: calc(-0.375em - 1px);
  margin-right: 0.1875em;
}

.button .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button.is-fullWidth {
  display: flex;
  width: 100%;
}

.button.is-small {
  font-size: .75rem;
}

.button.is-medium {
  font-size: 1.25rem;
}

.button.is-large {
  font-size: 1.5rem;
}

.button.is-rounded {
  border-radius: 25px;
}

.button.is-loading {
  color: transparent !important;
}

.button.is-loading::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  pointer-events: none;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

.pointer {
  cursor: pointer;
}

.undisplayed {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.no-borders, .no-border, .no-borders {
  border: none !important;
}

.bordermax {
  border-radius: 100%;
}

*[disabled], *[disabled="disabled"] {
  opacity: .5;
  cursor: not-allowed;
}

.input {
  border: 1px solid #dbdbdb;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  padding-bottom: calc(.375em - 1px);
  line-height: 1.5;
  height: 2.25em;
  font-size: 1em;
}

.input:focus {
  outline: none;
}

.input.is-rounded {
  border-radius: 25px;
}

.input.is-medium {
  font-size: 1.25rem;
}

.input.is-medium ~ .icon {
  font-size: 1.25rem;
}

.input.is-large {
  font-size: 1.5rem;
}

.input.is-large ~ .icon {
  font-size: 1.5rem;
}

.control {
  position: relative;
}

.control.has-icon-left .input {
  padding-left: 2.25em;
}

.control.has-icon-right .input {
  padding-right: 2.25em;
}

.control .icon {
  display: flex;
  position: absolute;
  top: 0;
  width: 2.25em;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #dbdbdb;
}

.control .icon.is-left {
  left: 0;
}

.control .icon.is-right {
  right: 0;
}

/*# sourceMappingURL=ploume.css.map */