/*! ploume.io v0.0.0 | MIT License | github.com/GentillePlume/ploume */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:100,300,400,500,600,700,800");
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
div.is-white,
nav.is-white,
a.is-white,
header.is-white {
  background-color: #FFF;
}

div.hover_is-white:hover,
nav.hover_is-white:hover,
a.hover_is-white:hover,
header.hover_is-white:hover {
  background-color: #FFF;
  color: #707070;
}

div.is-black,
nav.is-black,
a.is-black,
header.is-black {
  background-color: #000;
  color: #FFF;
}

div.is-dark,
nav.is-dark,
a.is-dark,
header.is-dark {
  background-color: #363636;
  color: #FFF;
}

div.is-light,
nav.is-light,
a.is-light,
header.is-light {
  background-color: #f5f5f5;
}

div.is-primary,
nav.is-primary,
a.is-primary,
header.is-primary {
  background-color: #00d1b2;
  color: #FFF;
}

div.is-link,
nav.is-link,
a.is-link,
header.is-link {
  background-color: #3273dc;
  color: #FFF;
}

div.hover_is-link:hover,
nav.hover_is-link:hover,
a.hover_is-link:hover,
header.hover_is-link:hover {
  background-color: #3273dc;
  color: #FFF;
}

div.is-info,
nav.is-info,
a.is-info,
header.is-info {
  background-color: #209cee;
  color: #FFF;
}

div.is-success,
nav.is-success,
a.is-success,
header.is-success {
  background-color: #23d160;
  color: #FFF;
}

div.is-warning,
nav.is-warning,
a.is-warning,
header.is-warning {
  background-color: #ffdd57;
}

div.is-caution,
nav.is-caution,
a.is-caution,
header.is-caution {
  background-color: #ED6E59;
  color: #FFF;
}

div.hover_is-caution:hover,
nav.hover_is-caution:hover,
a.hover_is-caution:hover,
header.hover_is-caution:hover {
  background-color: #ED6E59;
  color: #FFF;
}

div.is-danger,
nav.is-danger,
a.is-danger,
header.is-danger {
  background-color: #ff3860;
  color: #FFF;
}

div.hover_is-danger:hover,
nav.hover_is-danger:hover,
a.hover_is-danger:hover,
header.hover_is-danger:hover {
  background-color: #ff3860;
  color: #FFF;
}

p.is-white, span.is-white, h1.is-white, h2.is-white, h3.is-white, h3.is-white, h5.is-white, h6.is-white {
  color: #FFF;
}

p.is-black, span.is-black, h1.is-black, h2.is-black, h3.is-black, h3.is-black, h5.is-black, h6.is-black {
  color: #000;
}

p.is-dark, span.is-dark, h1.is-dark, h2.is-dark, h3.is-dark, h3.is-dark, h5.is-dark, h6.is-dark {
  color: #363636;
}

p.is-light, span.is-light, h1.is-light, h2.is-light, h3.is-light, h3.is-light, h5.is-light, h6.is-light {
  color: #f5f5f5;
}

p.is-primary, span.is-primary, h1.is-primary, h2.is-primary, h3.is-primary, h3.is-primary, h5.is-primary, h6.is-primary {
  color: #00d1b2;
}

p.is-link, span.is-link, h1.is-link, h2.is-link, h3.is-link, h3.is-link, h5.is-link, h6.is-link {
  color: #3273dc;
}

p.is-info, span.is-info, h1.is-info, h2.is-info, h3.is-info, h3.is-info, h5.is-info, h6.is-info {
  color: #209cee;
}

p.is-success, span.is-success, h1.is-success, h2.is-success, h3.is-success, h3.is-success, h5.is-success, h6.is-success {
  color: #23d160;
}

p.is-warning, span.is-warning, h1.is-warning, h2.is-warning, h3.is-warning, h3.is-warning, h5.is-warning, h6.is-warning {
  color: #ffdd57;
}

p.is-danger, span.is-danger, h1.is-danger, h2.is-danger, h3.is-danger, h3.is-danger, h5.is-danger, h6.is-danger {
  color: #ff3860;
}

.bg-white {
  background-color: white;
  color: black;
}

.bg-blue {
  background-color: #0e348a;
  color: white;
}

.bg-top {
  background-position: top;
}

.bg-right {
  background-position: right;
}

.bg-left {
  background-position: left;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg--auto {
  background-size: auto;
}

.opacity-85 {
  opacity: .85;
}

.is-tilted-right-1,
.is-leaning-right-1 {
  -webkit-transform: skewY(1deg);
          transform: skewY(1deg);
}

.is-tilted-right-1 > p, .is-tilted-right-1 h1,
.is-leaning-right-1 > p,
.is-leaning-right-1 h1 {
  -webkit-transform: skewY(-1deg);
          transform: skewY(-1deg);
}

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 4rem;
  z-index: 99;
}

.navbar-logo {
  height: 100%;
  padding: 2.5px;
}

.navbar-logo img {
  height: 100%;
}

.navbar-right {
  margin-left: auto;
}

.navbar-menu {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  color: #707070;
}

.navbar-item[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.navbar-item span.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 0;
}

.navbar-item span {
  margin-left: 10px;
}

.has-overlay {
  position: relative;
}

.has-overlay .is-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transform: skewY(0deg);
          transform: skewY(0deg);
}

.has-overlay > * {
  z-index: 0;
}

html {
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Raleway;
}

body::-webkit-scrollbar {
  display: none;
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.allcentered {
  justify-content: center;
  align-items: center;
}

.w-10 {
  width: 0%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.h-10 {
  height: 0%;
}

.h-15 {
  height: 15%;
}

.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-35 {
  height: 35%;
}

.h-40 {
  height: 40%;
}

.h-45 {
  height: 45%;
}

.h-50 {
  height: 50%;
}

.h-55 {
  height: 55%;
}

.h-60 {
  height: 60%;
}

.h-65 {
  height: 65%;
}

.h-70 {
  height: 70%;
}

.h-75 {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 90%;
}

.h-95 {
  height: 95%;
}

.h-screen {
  height: 100vh;
}

.h-screen-10 {
  height: 0vh;
}

.h-screen-15 {
  height: 15vh;
}

.h-screen-20 {
  height: 20vh;
}

.h-screen-25 {
  height: 25vh;
}

.h-screen-30 {
  height: 30vh;
}

.h-screen-35 {
  height: 35vh;
}

.h-screen-40 {
  height: 40vh;
}

.h-screen-45 {
  height: 45vh;
}

.h-screen-50 {
  height: 50vh;
}

.h-screen-55 {
  height: 55vh;
}

.h-screen-60 {
  height: 60vh;
}

.h-screen-65 {
  height: 65vh;
}

.h-screen-70 {
  height: 70vh;
}

.h-screen-75 {
  height: 75vh;
}

.h-screen-80 {
  height: 80vh;
}

.h-screen-85 {
  height: 85vh;
}

.h-screen-90 {
  height: 90vh;
}

.h-screen-95 {
  height: 95vh;
}

.h-full {
  height: 100%;
}

.fixed {
  position: fixed;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.floating,
.absolute {
  position: absolute;
}

.bottom,
.bot {
  bottom: 0;
}

.bottom-5,
.bot-5 {
  bottom: 5%;
}

.bottom-10,
.bot-10 {
  bottom: 10%;
}

.bottom-15,
.bot-15 {
  bottom: 15%;
}

.bottom-20,
.bot-20 {
  bottom: 20%;
}

.bottom-25,
.bot-25 {
  bottom: 25%;
}

.bottom-30,
.bot-30 {
  bottom: 30%;
}

.bottom-33,
.bot-33 {
  bottom: 33%;
}

.bottom-35,
.bot-35 {
  bottom: 35%;
}

.bottom-40,
.bot-40 {
  bottom: 40%;
}

.bottom-45,
.bot-45 {
  bottom: 45%;
}

.bottom-50,
.bot-50 {
  bottom: 50%;
}

.bottom-55,
.bot-55 {
  bottom: 55%;
}

.bottom-60,
.bot-60 {
  bottom: 60%;
}

.bottom-65,
.bot-65 {
  bottom: 65%;
}

.bottom-70,
.bot-70 {
  bottom: 70%;
}

.bottom-75,
.bot-75 {
  bottom: 75%;
}

.bottom-80,
.bot-80 {
  bottom: 80%;
}

.bottom-85,
.bot-85 {
  bottom: 85%;
}

.bottom-90,
.bot-90 {
  bottom: 90%;
}

.bottom-95,
.bot-95 {
  bottom: 95%;
}

.top {
  top: 0;
}

.top-5 {
  top: 5%;
}

.top-10 {
  top: 10%;
}

.top-15 {
  top: 15%;
}

.top-20 {
  top: 20%;
}

.top-25 {
  top: 25%;
}

.top-30 {
  top: 30%;
}

.top-33 {
  top: 33%;
}

.top-35 {
  top: 35%;
}

.top-40 {
  top: 40%;
}

.top-45 {
  top: 45%;
}

.top-50 {
  top: 50%;
}

.top-55 {
  top: 55%;
}

.top-60 {
  top: 60%;
}

.top-65 {
  top: 65%;
}

.top-70 {
  top: 70%;
}

.top-75 {
  top: 75%;
}

.top-80 {
  top: 80%;
}

.top-85 {
  top: 85%;
}

.top-90 {
  top: 90%;
}

.top-95 {
  top: 95%;
}

.right {
  right: 0;
}

.right-5 {
  right: 5%;
}

.right-10 {
  right: 10%;
}

.right-15 {
  right: 15%;
}

.right-20 {
  right: 20%;
}

.right-25 {
  right: 25%;
}

.right-30 {
  right: 30%;
}

.right-33 {
  right: 33%;
}

.right-35 {
  right: 35%;
}

.right-40 {
  right: 40%;
}

.right-45 {
  right: 45%;
}

.right-50 {
  right: 50%;
}

.right-55 {
  right: 55%;
}

.right-60 {
  right: 60%;
}

.right-65 {
  right: 65%;
}

.right-70 {
  right: 70%;
}

.right-75 {
  right: 75%;
}

.right-80 {
  right: 80%;
}

.right-85 {
  right: 85%;
}

.right-90 {
  right: 90%;
}

.right-95 {
  right: 95%;
}

.left {
  left: 0;
}

.left-5 {
  left: 5%;
}

.left-10 {
  left: 10%;
}

.left-15 {
  left: 15%;
}

.left-20 {
  left: 20%;
}

.left-25 {
  left: 25%;
}

.left-30 {
  left: 30%;
}

.left-33 {
  left: 33%;
}

.left-35 {
  left: 35%;
}

.left-40 {
  left: 40%;
}

.left-45 {
  left: 45%;
}

.left-50 {
  left: 50%;
}

.left-55 {
  left: 55%;
}

.left-60 {
  left: 60%;
}

.left-65 {
  left: 65%;
}

.left-70 {
  left: 70%;
}

.left-75 {
  left: 75%;
}

.left-80 {
  left: 80%;
}

.left-85 {
  left: 85%;
}

.left-90 {
  left: 90%;
}

.left-95 {
  left: 95%;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.p-25 {
  padding: 25px;
}

.title {
  font-size: 3rem;
}

.subtitle {
  opacity: .85;
}

.is-italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.is-1 {
  font-size: 3rem;
}

.is-2 {
  font-size: 2.5rem;
}

.is-3 {
  font-size: 2rem;
}

.is-4 {
  font-size: 2rem;
}

.button {
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.button.is-white {
  background-color: #FFF;
  color: #FFF;
}

.button.is-rounded {
  border-radius: 25px;
}

.button.is-rounded.is-outlined {
  border: 2px solid white;
  background-color: transparent;
}

.is-small,
.is-mdeium,
.is-large {
  height: 1.5em;
  width: 1.5em;
}
/*# sourceMappingURL=ploume.css.map */