/*! ploume.io v0.0.0 | MIT License | github.com/GentillePlume/ploume */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:100,300,400,500,600,700,800");
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
div.is-white,
nav.is-white,
a.is-white,
header.is-white,
aside.is-white,
button.is-white,
form.is-white,
body.is-white,
.tag.is-white,
li.is-white,
footer.is-white {
  background-color: #FFF;
  color: #707070;
}

div.is-white_hover:hover,
nav.is-white_hover:hover,
a.is-white_hover:hover,
header.is-white_hover:hover,
aside.is-white_hover:hover,
button.is-white_hover:hover,
form.is-white_hover:hover,
body.is-white_hover:hover,
.tag.is-white_hover:hover,
li.is-white_hover:hover,
footer.is-white_hover:hover {
  background-color: #FFF !important;
}

div.is-white_hover:hover > *,
nav.is-white_hover:hover > *,
a.is-white_hover:hover > *,
header.is-white_hover:hover > *,
aside.is-white_hover:hover > *,
button.is-white_hover:hover > *,
form.is-white_hover:hover > *,
body.is-white_hover:hover > *,
.tag.is-white_hover:hover > *,
li.is-white_hover:hover > *,
footer.is-white_hover:hover > * {
  color: #707070 !important;
}

div.is-white.is-outlined,
nav.is-white.is-outlined,
a.is-white.is-outlined,
header.is-white.is-outlined,
aside.is-white.is-outlined,
button.is-white.is-outlined,
form.is-white.is-outlined,
body.is-white.is-outlined,
.tag.is-white.is-outlined,
li.is-white.is-outlined,
footer.is-white.is-outlined {
  background-color: transparent;
  border-color: #f5f5f5;
  color: #707070;
}

div.is-white.is-outlined:hover,
nav.is-white.is-outlined:hover,
a.is-white.is-outlined:hover,
header.is-white.is-outlined:hover,
aside.is-white.is-outlined:hover,
button.is-white.is-outlined:hover,
form.is-white.is-outlined:hover,
body.is-white.is-outlined:hover,
.tag.is-white.is-outlined:hover,
li.is-white.is-outlined:hover,
footer.is-white.is-outlined:hover {
  background-color: #f5f5f5;
  color: #505050;
}

div.is-black,
nav.is-black,
a.is-black,
header.is-black,
aside.is-black,
button.is-black,
form.is-black,
body.is-black,
.tag.is-black,
li.is-black,
footer.is-black {
  background-color: #000;
  color: #FFF;
}

div.is-dark,
nav.is-dark,
a.is-dark,
header.is-dark,
aside.is-dark,
button.is-dark,
form.is-dark,
body.is-dark,
.tag.is-dark,
li.is-dark,
footer.is-dark {
  background-color: #363636;
}

div.is-dark *,
nav.is-dark *,
a.is-dark *,
header.is-dark *,
aside.is-dark *,
button.is-dark *,
form.is-dark *,
body.is-dark *,
.tag.is-dark *,
li.is-dark *,
footer.is-dark * {
  color: #FFF;
}

div.is-dark_hover:hover,
nav.is-dark_hover:hover,
a.is-dark_hover:hover,
header.is-dark_hover:hover,
aside.is-dark_hover:hover,
button.is-dark_hover:hover,
form.is-dark_hover:hover,
body.is-dark_hover:hover,
.tag.is-dark_hover:hover,
li.is-dark_hover:hover,
footer.is-dark_hover:hover {
  background-color: #363636 !important;
}

div.is-dark_hover:hover > *,
nav.is-dark_hover:hover > *,
a.is-dark_hover:hover > *,
header.is-dark_hover:hover > *,
aside.is-dark_hover:hover > *,
button.is-dark_hover:hover > *,
form.is-dark_hover:hover > *,
body.is-dark_hover:hover > *,
.tag.is-dark_hover:hover > *,
li.is-dark_hover:hover > *,
footer.is-dark_hover:hover > * {
  color: #FFF !important;
}

div.is-lightdark,
nav.is-lightdark,
a.is-lightdark,
header.is-lightdark,
aside.is-lightdark,
button.is-lightdark,
form.is-lightdark,
body.is-lightdark,
.tag.is-lightdark,
li.is-lightdark,
footer.is-lightdark {
  background-color: #505050;
}

div.is-lightdark_hover:hover,
nav.is-lightdark_hover:hover,
a.is-lightdark_hover:hover,
header.is-lightdark_hover:hover,
aside.is-lightdark_hover:hover,
button.is-lightdark_hover:hover,
form.is-lightdark_hover:hover,
body.is-lightdark_hover:hover,
.tag.is-lightdark_hover:hover,
li.is-lightdark_hover:hover,
footer.is-lightdark_hover:hover {
  background-color: #505050 !important;
}

div.is-lightdark_hover:hover > *,
nav.is-lightdark_hover:hover > *,
a.is-lightdark_hover:hover > *,
header.is-lightdark_hover:hover > *,
aside.is-lightdark_hover:hover > *,
button.is-lightdark_hover:hover > *,
form.is-lightdark_hover:hover > *,
body.is-lightdark_hover:hover > *,
.tag.is-lightdark_hover:hover > *,
li.is-lightdark_hover:hover > *,
footer.is-lightdark_hover:hover > * {
  color: #FFF !important;
}

div.is-lightdark *,
nav.is-lightdark *,
a.is-lightdark *,
header.is-lightdark *,
aside.is-lightdark *,
button.is-lightdark *,
form.is-lightdark *,
body.is-lightdark *,
.tag.is-lightdark *,
li.is-lightdark *,
footer.is-lightdark * {
  color: #FFF;
}

div.is-light,
nav.is-light,
a.is-light,
header.is-light,
aside.is-light,
button.is-light,
form.is-light,
body.is-light,
.tag.is-light,
li.is-light,
footer.is-light {
  background-color: #f5f5f5;
}

div.is-light_hover:hover,
nav.is-light_hover:hover,
a.is-light_hover:hover,
header.is-light_hover:hover,
aside.is-light_hover:hover,
button.is-light_hover:hover,
form.is-light_hover:hover,
body.is-light_hover:hover,
.tag.is-light_hover:hover,
li.is-light_hover:hover,
footer.is-light_hover:hover {
  background-color: #f5f5f5 !important;
}

div.is-light_hover:hover > *,
nav.is-light_hover:hover > *,
a.is-light_hover:hover > *,
header.is-light_hover:hover > *,
aside.is-light_hover:hover > *,
button.is-light_hover:hover > *,
form.is-light_hover:hover > *,
body.is-light_hover:hover > *,
.tag.is-light_hover:hover > *,
li.is-light_hover:hover > *,
footer.is-light_hover:hover > * {
  color: #707070 !important;
}

div.is-primary,
nav.is-primary,
a.is-primary,
header.is-primary,
aside.is-primary,
button.is-primary,
form.is-primary,
body.is-primary,
.tag.is-primary,
li.is-primary,
footer.is-primary {
  background-color: #00d1b2;
  color: #FFF;
}

div.is-primary_hover:hover,
nav.is-primary_hover:hover,
a.is-primary_hover:hover,
header.is-primary_hover:hover,
aside.is-primary_hover:hover,
button.is-primary_hover:hover,
form.is-primary_hover:hover,
body.is-primary_hover:hover,
.tag.is-primary_hover:hover,
li.is-primary_hover:hover,
footer.is-primary_hover:hover {
  background-color: #00d1b2 !important;
  color: #FFF !important;
}

div.is-primary_hover:hover > *,
nav.is-primary_hover:hover > *,
a.is-primary_hover:hover > *,
header.is-primary_hover:hover > *,
aside.is-primary_hover:hover > *,
button.is-primary_hover:hover > *,
form.is-primary_hover:hover > *,
body.is-primary_hover:hover > *,
.tag.is-primary_hover:hover > *,
li.is-primary_hover:hover > *,
footer.is-primary_hover:hover > * {
  color: #FFF !important;
}

div.is-primary.is-outlined,
nav.is-primary.is-outlined,
a.is-primary.is-outlined,
header.is-primary.is-outlined,
aside.is-primary.is-outlined,
button.is-primary.is-outlined,
form.is-primary.is-outlined,
body.is-primary.is-outlined,
.tag.is-primary.is-outlined,
li.is-primary.is-outlined,
footer.is-primary.is-outlined {
  background-color: transparent;
  border-color: #00d1b2;
  color: #00d1b2;
}

div.is-primary.is-outlined:hover,
nav.is-primary.is-outlined:hover,
a.is-primary.is-outlined:hover,
header.is-primary.is-outlined:hover,
aside.is-primary.is-outlined:hover,
button.is-primary.is-outlined:hover,
form.is-primary.is-outlined:hover,
body.is-primary.is-outlined:hover,
.tag.is-primary.is-outlined:hover,
li.is-primary.is-outlined:hover,
footer.is-primary.is-outlined:hover {
  background-color: #00d1b2;
  color: white;
}

div.is-link,
nav.is-link,
a.is-link,
header.is-link,
aside.is-link,
button.is-link,
form.is-link,
body.is-link,
.tag.is-link,
li.is-link,
footer.is-link {
  background-color: #3273dc;
  color: #FFF;
}

div.is-link_hover:hover,
nav.is-link_hover:hover,
a.is-link_hover:hover,
header.is-link_hover:hover,
aside.is-link_hover:hover,
button.is-link_hover:hover,
form.is-link_hover:hover,
body.is-link_hover:hover,
.tag.is-link_hover:hover,
li.is-link_hover:hover,
footer.is-link_hover:hover {
  background-color: #3273dc !important;
}

div.is-link_hover:hover > *,
nav.is-link_hover:hover > *,
a.is-link_hover:hover > *,
header.is-link_hover:hover > *,
aside.is-link_hover:hover > *,
button.is-link_hover:hover > *,
form.is-link_hover:hover > *,
body.is-link_hover:hover > *,
.tag.is-link_hover:hover > *,
li.is-link_hover:hover > *,
footer.is-link_hover:hover > * {
  color: white !important;
}

div.is-link.is-outlined,
nav.is-link.is-outlined,
a.is-link.is-outlined,
header.is-link.is-outlined,
aside.is-link.is-outlined,
button.is-link.is-outlined,
form.is-link.is-outlined,
body.is-link.is-outlined,
.tag.is-link.is-outlined,
li.is-link.is-outlined,
footer.is-link.is-outlined {
  background-color: transparent;
  border-color: #3273dc;
  color: #3273dc;
}

div.is-link.is-outlined:hover,
nav.is-link.is-outlined:hover,
a.is-link.is-outlined:hover,
header.is-link.is-outlined:hover,
aside.is-link.is-outlined:hover,
button.is-link.is-outlined:hover,
form.is-link.is-outlined:hover,
body.is-link.is-outlined:hover,
.tag.is-link.is-outlined:hover,
li.is-link.is-outlined:hover,
footer.is-link.is-outlined:hover {
  background-color: #3273dc;
  color: white;
}

div.is-info,
nav.is-info,
a.is-info,
header.is-info,
aside.is-info,
button.is-info,
form.is-info,
body.is-info,
.tag.is-info,
li.is-info,
footer.is-info {
  background-color: #209cee;
  color: #FFF;
}

div.is-info_hover:hover,
nav.is-info_hover:hover,
a.is-info_hover:hover,
header.is-info_hover:hover,
aside.is-info_hover:hover,
button.is-info_hover:hover,
form.is-info_hover:hover,
body.is-info_hover:hover,
.tag.is-info_hover:hover,
li.is-info_hover:hover,
footer.is-info_hover:hover {
  background-color: #209cee !important;
}

div.is-info_hover:hover > *,
nav.is-info_hover:hover > *,
a.is-info_hover:hover > *,
header.is-info_hover:hover > *,
aside.is-info_hover:hover > *,
button.is-info_hover:hover > *,
form.is-info_hover:hover > *,
body.is-info_hover:hover > *,
.tag.is-info_hover:hover > *,
li.is-info_hover:hover > *,
footer.is-info_hover:hover > * {
  color: white !important;
}

div.is-info.is-outlined,
nav.is-info.is-outlined,
a.is-info.is-outlined,
header.is-info.is-outlined,
aside.is-info.is-outlined,
button.is-info.is-outlined,
form.is-info.is-outlined,
body.is-info.is-outlined,
.tag.is-info.is-outlined,
li.is-info.is-outlined,
footer.is-info.is-outlined {
  background-color: transparent;
  border-color: #209cee;
  color: #209cee;
}

div.is-success,
nav.is-success,
a.is-success,
header.is-success,
aside.is-success,
button.is-success,
form.is-success,
body.is-success,
.tag.is-success,
li.is-success,
footer.is-success {
  background-color: #23d160;
  color: #FFF;
}

div.is-success.is-outlined,
nav.is-success.is-outlined,
a.is-success.is-outlined,
header.is-success.is-outlined,
aside.is-success.is-outlined,
button.is-success.is-outlined,
form.is-success.is-outlined,
body.is-success.is-outlined,
.tag.is-success.is-outlined,
li.is-success.is-outlined,
footer.is-success.is-outlined {
  border: 1px solid #23d160;
  background-color: #FFF;
}

div.is-success_hover:hover,
nav.is-success_hover:hover,
a.is-success_hover:hover,
header.is-success_hover:hover,
aside.is-success_hover:hover,
button.is-success_hover:hover,
form.is-success_hover:hover,
body.is-success_hover:hover,
.tag.is-success_hover:hover,
li.is-success_hover:hover,
footer.is-success_hover:hover {
  background-color: #23d160 !important;
}

div.is-success_hover:hover > *,
nav.is-success_hover:hover > *,
a.is-success_hover:hover > *,
header.is-success_hover:hover > *,
aside.is-success_hover:hover > *,
button.is-success_hover:hover > *,
form.is-success_hover:hover > *,
body.is-success_hover:hover > *,
.tag.is-success_hover:hover > *,
li.is-success_hover:hover > *,
footer.is-success_hover:hover > * {
  color: white !important;
}

div.is-success:hover,
nav.is-success:hover,
a.is-success:hover,
header.is-success:hover,
aside.is-success:hover,
button.is-success:hover,
form.is-success:hover,
body.is-success:hover,
.tag.is-success:hover,
li.is-success:hover,
footer.is-success:hover {
  background-color: #22c65b;
}

div.is-warning,
nav.is-warning,
a.is-warning,
header.is-warning,
aside.is-warning,
button.is-warning,
form.is-warning,
body.is-warning,
.tag.is-warning,
li.is-warning,
footer.is-warning {
  background-color: #ffdd57;
}

div.is-warning_hover:hover,
nav.is-warning_hover:hover,
a.is-warning_hover:hover,
header.is-warning_hover:hover,
aside.is-warning_hover:hover,
button.is-warning_hover:hover,
form.is-warning_hover:hover,
body.is-warning_hover:hover,
.tag.is-warning_hover:hover,
li.is-warning_hover:hover,
footer.is-warning_hover:hover {
  background-color: #ffdd57 !important;
}

div.is-warning_hover:hover > *,
nav.is-warning_hover:hover > *,
a.is-warning_hover:hover > *,
header.is-warning_hover:hover > *,
aside.is-warning_hover:hover > *,
button.is-warning_hover:hover > *,
form.is-warning_hover:hover > *,
body.is-warning_hover:hover > *,
.tag.is-warning_hover:hover > *,
li.is-warning_hover:hover > *,
footer.is-warning_hover:hover > * {
  color: #707070 !important;
}

div.is-darkwarning,
nav.is-darkwarning,
a.is-darkwarning,
header.is-darkwarning,
aside.is-darkwarning,
button.is-darkwarning,
form.is-darkwarning,
body.is-darkwarning,
.tag.is-darkwarning,
li.is-darkwarning,
footer.is-darkwarning {
  background-color: #ddb517;
  color: white;
}

div.is-darkwarning_hover:hover,
nav.is-darkwarning_hover:hover,
a.is-darkwarning_hover:hover,
header.is-darkwarning_hover:hover,
aside.is-darkwarning_hover:hover,
button.is-darkwarning_hover:hover,
form.is-darkwarning_hover:hover,
body.is-darkwarning_hover:hover,
.tag.is-darkwarning_hover:hover,
li.is-darkwarning_hover:hover,
footer.is-darkwarning_hover:hover {
  background-color: #ddb517 !important;
}

div.is-darkwarning_hover:hover > *,
nav.is-darkwarning_hover:hover > *,
a.is-darkwarning_hover:hover > *,
header.is-darkwarning_hover:hover > *,
aside.is-darkwarning_hover:hover > *,
button.is-darkwarning_hover:hover > *,
form.is-darkwarning_hover:hover > *,
body.is-darkwarning_hover:hover > *,
.tag.is-darkwarning_hover:hover > *,
li.is-darkwarning_hover:hover > *,
footer.is-darkwarning_hover:hover > * {
  color: #707070 !important;
}

div.is-caution,
nav.is-caution,
a.is-caution,
header.is-caution,
aside.is-caution,
button.is-caution,
form.is-caution,
body.is-caution,
.tag.is-caution,
li.is-caution,
footer.is-caution {
  background-color: #ED6E59;
  color: #FFF;
}

div.is-caution_hover:hover,
nav.is-caution_hover:hover,
a.is-caution_hover:hover,
header.is-caution_hover:hover,
aside.is-caution_hover:hover,
button.is-caution_hover:hover,
form.is-caution_hover:hover,
body.is-caution_hover:hover,
.tag.is-caution_hover:hover,
li.is-caution_hover:hover,
footer.is-caution_hover:hover {
  background-color: #ED6E59 !important;
}

div.is-caution_hover:hover > *,
nav.is-caution_hover:hover > *,
a.is-caution_hover:hover > *,
header.is-caution_hover:hover > *,
aside.is-caution_hover:hover > *,
button.is-caution_hover:hover > *,
form.is-caution_hover:hover > *,
body.is-caution_hover:hover > *,
.tag.is-caution_hover:hover > *,
li.is-caution_hover:hover > *,
footer.is-caution_hover:hover > * {
  color: white !important;
}

div.is-caution.is-outlined,
nav.is-caution.is-outlined,
a.is-caution.is-outlined,
header.is-caution.is-outlined,
aside.is-caution.is-outlined,
button.is-caution.is-outlined,
form.is-caution.is-outlined,
body.is-caution.is-outlined,
.tag.is-caution.is-outlined,
li.is-caution.is-outlined,
footer.is-caution.is-outlined {
  background-color: transparent;
  border: 1px solid #ED6E59;
  color: #ED6E59;
}

div.is-caution.is-outlined:hover,
nav.is-caution.is-outlined:hover,
a.is-caution.is-outlined:hover,
header.is-caution.is-outlined:hover,
aside.is-caution.is-outlined:hover,
button.is-caution.is-outlined:hover,
form.is-caution.is-outlined:hover,
body.is-caution.is-outlined:hover,
.tag.is-caution.is-outlined:hover,
li.is-caution.is-outlined:hover,
footer.is-caution.is-outlined:hover {
  background-color: #ED6E59;
  color: #FFF;
}

div.is-danger,
nav.is-danger,
a.is-danger,
header.is-danger,
aside.is-danger,
button.is-danger,
form.is-danger,
body.is-danger,
.tag.is-danger,
li.is-danger,
footer.is-danger {
  background-color: #ff3860;
  color: #FFF;
}

div.is-danger.is-outlined,
nav.is-danger.is-outlined,
a.is-danger.is-outlined,
header.is-danger.is-outlined,
aside.is-danger.is-outlined,
button.is-danger.is-outlined,
form.is-danger.is-outlined,
body.is-danger.is-outlined,
.tag.is-danger.is-outlined,
li.is-danger.is-outlined,
footer.is-danger.is-outlined {
  background-color: transparent;
  border: 1px solid #ff3860;
  color: #ff3860;
}

div.is-danger.is-outlined:hover,
nav.is-danger.is-outlined:hover,
a.is-danger.is-outlined:hover,
header.is-danger.is-outlined:hover,
aside.is-danger.is-outlined:hover,
button.is-danger.is-outlined:hover,
form.is-danger.is-outlined:hover,
body.is-danger.is-outlined:hover,
.tag.is-danger.is-outlined:hover,
li.is-danger.is-outlined:hover,
footer.is-danger.is-outlined:hover {
  background-color: #ff3860;
  color: #FFF;
}

div.is-danger_hover:hover,
nav.is-danger_hover:hover,
a.is-danger_hover:hover,
header.is-danger_hover:hover,
aside.is-danger_hover:hover,
button.is-danger_hover:hover,
form.is-danger_hover:hover,
body.is-danger_hover:hover,
.tag.is-danger_hover:hover,
li.is-danger_hover:hover,
footer.is-danger_hover:hover {
  background-color: #ff3860 !important;
}

div.is-danger_hover:hover > *,
nav.is-danger_hover:hover > *,
a.is-danger_hover:hover > *,
header.is-danger_hover:hover > *,
aside.is-danger_hover:hover > *,
button.is-danger_hover:hover > *,
form.is-danger_hover:hover > *,
body.is-danger_hover:hover > *,
.tag.is-danger_hover:hover > *,
li.is-danger_hover:hover > *,
footer.is-danger_hover:hover > * {
  color: white !important;
}

div.is-purple,
nav.is-purple,
a.is-purple,
header.is-purple,
aside.is-purple,
button.is-purple,
form.is-purple,
body.is-purple,
.tag.is-purple,
li.is-purple,
footer.is-purple {
  background-color: #7d00e7;
  color: #FFF;
}

p.is-white, span.is-white, h1.is-white, h2.is-white, h3.is-white, h3.is-white, h5.is-white, h6.is-white, i.is-white {
  color: #FFF;
}

p.is-black, span.is-black, h1.is-black, h2.is-black, h3.is-black, h3.is-black, h5.is-black, h6.is-black, i.is-black {
  color: #000;
}

p.is-dark, span.is-dark, h1.is-dark, h2.is-dark, h3.is-dark, h3.is-dark, h5.is-dark, h6.is-dark, i.is-dark {
  color: #363636;
}

p.is-lightgrey, span.is-lightgrey, h1.is-lightgrey, h2.is-lightgrey, h3.is-lightgrey, h3.is-lightgrey, h5.is-lightgrey, h6.is-lightgrey, i.is-lightgrey {
  color: #707070;
}

p.is-light, span.is-light, h1.is-light, h2.is-light, h3.is-light, h3.is-light, h5.is-light, h6.is-light, i.is-light {
  color: #f5f5f5;
}

p.is-primary, span.is-primary, h1.is-primary, h2.is-primary, h3.is-primary, h3.is-primary, h5.is-primary, h6.is-primary, i.is-primary {
  color: #00d1b2;
}

p.is-link, span.is-link, h1.is-link, h2.is-link, h3.is-link, h3.is-link, h5.is-link, h6.is-link, i.is-link {
  color: #3273dc;
}

p.is-info, span.is-info, h1.is-info, h2.is-info, h3.is-info, h3.is-info, h5.is-info, h6.is-info, i.is-info {
  color: #209cee;
}

p.is-success, span.is-success, h1.is-success, h2.is-success, h3.is-success, h3.is-success, h5.is-success, h6.is-success, i.is-success {
  color: #23d160;
}

p.is-warning, span.is-warning, h1.is-warning, h2.is-warning, h3.is-warning, h3.is-warning, h5.is-warning, h6.is-warning, i.is-warning {
  color: #ffdd57;
}

p.is-darkwarning, span.is-darkwarning, h1.is-darkwarning, h2.is-darkwarning, h3.is-darkwarning, h3.is-darkwarning, h5.is-darkwarning, h6.is-darkwarning, i.is-darkwarning {
  color: #ddb517;
}

p.is-caution, span.is-caution, h1.is-caution, h2.is-caution, h3.is-caution, h3.is-caution, h5.is-caution, h6.is-caution, i.is-caution {
  color: #ED6E59;
}

p.is-danger, span.is-danger, h1.is-danger, h2.is-danger, h3.is-danger, h3.is-danger, h5.is-danger, h6.is-danger, i.is-danger {
  color: #ff3860;
}

p.is-purple, span.is-purple, h1.is-purple, h2.is-purple, h3.is-purple, h3.is-purple, h5.is-purple, h6.is-purple, i.is-purple {
  color: #7d00e7;
}

.bg-white {
  background-color: white;
  color: black;
}

.bg-blue {
  background-color: #0e348a;
  color: white;
}

.bg-top {
  background-position: top;
}

.bg-right {
  background-position: right;
}

.bg-left {
  background-position: left;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg--auto {
  background-size: auto;
}

.opacity-10, .op-10 {
  opacity: .10;
}

.opacity-25, .op-25 {
  opacity: .25;
}

.opacity-30, .op-30 {
  opacity: .30;
}

.opacity-35, .op-35 {
  opacity: .35;
}

.opacity-50, .op-50 {
  opacity: .50;
}

.opacity-75, .op-75 {
  opacity: .75;
}

.opacity-85, .op-85 {
  opacity: .85;
}

.is-tilted-right-1,
.is-leaning-right-1 {
  transform: skewY(1deg);
}

.is-tilted-right-1 > p, .is-tilted-right-1 h1,
.is-leaning-right-1 > p,
.is-leaning-right-1 h1 {
  transform: skewY(-1deg);
}

.bordered-5 {
  border-radius: 5px;
}

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 4rem;
  z-index: 99;
}

.navbar-logo {
  height: 100%;
  padding: 2.5px;
}

.navbar-logo img {
  height: 100%;
}

.navbar-right {
  margin-left: auto;
}

.navbar-menu {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 100%;
  padding: 0 25px;
  text-decoration: none;
  color: #707070;
}

.navbar-item[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.navbar-item span.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 0;
}

.navbar-item span {
  margin-left: 10px;
}

.has-overlay {
  position: relative;
}

.has-overlay .is-overlay, .has-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: skewY(0deg);
}

.has-overlay > * {
  z-index: 0;
}

html {
  min-width: 300px;
  overflow-y: scroll;
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

body, button, input, textarea, select {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.flex {
  display: flex;
}

.flex-row, .flex-r, .flex-h {
  display: flex;
  flex-direction: row;
}

.flex-row.v-center, .flex-row.v-centered, .flex-r.v-center, .flex-r.v-centered, .flex-h.v-center, .flex-h.v-centered {
  justify-content: center;
}

.flex-row.v-end, .flex-r.v-end, .flex-h.v-end {
  justify-content: flex-end;
}

.flex-row.v-start, .flex-r.v-start, .flex-h.v-start {
  justify-content: flex-start;
}

.flex-row.h-center, .flex-row.h-centered, .flex-r.h-center, .flex-r.h-centered, .flex-h.h-center, .flex-h.h-centered {
  align-items: center;
}

.flex-row.h-end, .flex-r.h-end, .flex-h.h-end {
  align-items: flex-end;
}

.flex-row.h-start, .flex-r.h-start, .flex-h.h-start {
  align-items: flex-start;
}

.flex-col, .flex-c, .flex-column, .flex-v {
  display: flex;
  flex-direction: column;
}

.flex-col.v-center, .flex-col.v-centered, .flex-c.v-center, .flex-c.v-centered, .flex-column.v-center, .flex-column.v-centered, .flex-v.v-center, .flex-v.v-centered {
  align-items: center;
}

.flex-col.h-center, .flex-col.h-centered, .flex-c.h-center, .flex-c.h-centered, .flex-column.h-center, .flex-column.h-centered, .flex-v.h-center, .flex-v.h-centered {
  justify-content: center;
}

.content-centered, .content-center, .allcentered, .allcenter, .all-center, .all-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-content: flex-start;
}

.align-end {
  align-content: flex-end;
}

.align-center {
  align-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.flex-s {
  display: flex;
}

.flex-row-s, .flex-r-s, .flex-h-s {
  display: flex;
  flex-direction: row;
}

.flex-col-s, .flex-column-s, .flex-c-s, .flex-v-s {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .flex-m {
    display: flex;
  }
  .flex-row-m, .flex-r-m, .flex-h-m {
    display: flex;
    flex-direction: row;
  }
  .flex-col-m, .flex-column-m, .flex-c-m, .flex-v-m {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .flex-l {
    display: flex;
  }
  .flex-row-l, .flex-r-l, .flex-h-l {
    display: flex;
    flex-direction: row;
  }
  .flex-col-l, .flex-column-l, .flex-c-l, .flex-v-l {
    display: flex;
    flex-direction: column;
  }
}

.fullsize {
  width: 100%;
  height: 100%;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.w-fullscreen {
  width: 100vw;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.h-half {
  height: 50%;
}

.h-5 {
  height: 5%;
}

.h-10 {
  height: 10%;
}

.h-15 {
  height: 15%;
}

.h-20 {
  height: 20%;
}

.h-25 {
  height: 25%;
}

.h-30 {
  height: 30%;
}

.h-35 {
  height: 35%;
}

.h-40 {
  height: 40%;
}

.h-45 {
  height: 45%;
}

.h-50 {
  height: 50%;
}

.h-55 {
  height: 55%;
}

.h-60 {
  height: 60%;
}

.h-65 {
  height: 65%;
}

.h-70 {
  height: 70%;
}

.h-75 {
  height: 75px;
}

.h-75perc, .h-75pe {
  height: 75%;
}

.h-80 {
  height: 80%;
}

.h-85 {
  height: 85%;
}

.h-90 {
  height: 90%;
}

.h-95 {
  height: 95%;
}

.h-screen {
  height: 100vh;
}

.h-screen-10 {
  height: 10vh;
}

.h-screen-15 {
  height: 15vh;
}

.h-screen-20 {
  height: 20vh;
}

.h-screen-25 {
  height: 25vh;
}

.h-screen-30 {
  height: 30vh;
}

.h-screen-35 {
  height: 35vh;
}

.h-screen-40 {
  height: 40vh;
}

.h-screen-45 {
  height: 45vh;
}

.h-screen-50 {
  height: 50vh;
}

.h-screen-55 {
  height: 55vh;
}

.h-screen-60 {
  height: 60vh;
}

.h-screen-65 {
  height: 65vh;
}

.h-screen-70 {
  height: 70vh;
}

.h-screen-75 {
  height: 75vh;
}

.h-screen-80 {
  height: 80vh;
}

.h-screen-85 {
  height: 85vh;
}

.h-screen-90 {
  height: 90vh;
}

.h-screen-95 {
  height: 95vh;
}

.h-screen-100 {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.h-fullscreen {
  height: 100vh;
}

.fullsize-s {
  width: 100%;
  height: 100%;
}

.fullscreen-s {
  width: 100vw;
  height: 100vh;
}

.w-half-s {
  width: 50%;
}

.w-full-s {
  width: 100%;
}

.w-fullscreen-s {
  width: 100vw;
}

.w-5-s {
  width: 5%;
}

.w-10-s {
  width: 10%;
}

.w-15-s {
  width: 15%;
}

.w-20-s {
  width: 20%;
}

.w-25-s {
  width: 25%;
}

.w-30-s {
  width: 30%;
}

.w-33-s {
  width: calc(100% / 3);
}

.w-35-s {
  width: 35%;
}

.w-40-s {
  width: 40%;
}

.w-45-s {
  width: 45%;
}

.w-50-s {
  width: 50%;
}

.w-55-s {
  width: 55%;
}

.w-60-s {
  width: 60%;
}

.w-65-s {
  width: 65%;
}

.w-70-s {
  width: 70%;
}

.w-75-s {
  width: 75%;
}

.w-80-s {
  width: 80%;
}

.w-85-s {
  width: 85%;
}

.w-90-s {
  width: 90%;
}

.w-95-s {
  width: 95%;
}

.w-100-s {
  width: 100%;
}

.h-half-s {
  height: 50%;
}

.h-5-s {
  height: 5%;
}

.h-10-s {
  height: 10%;
}

.h-15-s {
  height: 15%;
}

.h-20-s {
  height: 20%;
}

.h-25-s {
  height: 25%;
}

.h-30-s {
  height: 30%;
}

.h-35-s {
  height: 35%;
}

.h-40-s {
  height: 40%;
}

.h-45-s {
  height: 45%;
}

.h-50-s {
  height: 50%;
}

.h-55-s {
  height: 55%;
}

.h-60-s {
  height: 60%;
}

.h-65-s {
  height: 65%;
}

.h-70-s {
  height: 70%;
}

.h-75-s {
  height: 75px;
}

.h-75perc-s, .h-75pe-s {
  height: 75%;
}

.h-80-s {
  height: 80%;
}

.h-85-s {
  height: 85%;
}

.h-90-s {
  height: 90%;
}

.h-95-s {
  height: 95%;
}

.h-screen {
  height: 100vh;
}

.h-screen-10-s {
  height: 10vh;
}

.h-screen-15-s {
  height: 15vh;
}

.h-screen-20-s {
  height: 20vh;
}

.h-screen-25-s {
  height: 25vh;
}

.h-screen-30-s {
  height: 30vh;
}

.h-screen-35-s {
  height: 35vh;
}

.h-screen-40-s {
  height: 40vh;
}

.h-screen-45-s {
  height: 45vh;
}

.h-screen-50-s {
  height: 50vh;
}

.h-screen-55-s {
  height: 55vh;
}

.h-screen-60-s {
  height: 60vh;
}

.h-screen-65-s {
  height: 65vh;
}

.h-screen-70-s {
  height: 70vh;
}

.h-screen-75-s {
  height: 75vh;
}

.h-screen-80-s {
  height: 80vh;
}

.h-screen-85-s {
  height: 85vh;
}

.h-screen-90-s {
  height: 90vh;
}

.h-screen-95-s {
  height: 95vh;
}

.h-screen-100-s {
  height: 100vh;
}

.h-full-s {
  height: 100%;
}

.h-fullscreen-s {
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .fullsize-m {
    width: 100%;
    height: 100%;
  }
  .fullscreen-m {
    width: 100vw;
    height: 100vh;
  }
  .w-half-m {
    width: 50%;
  }
  .w-full-m {
    width: 100%;
  }
  .w-fullscreen-m {
    width: 100vw;
  }
  .w-5-m {
    width: 5%;
  }
  .w-10-m {
    width: 10%;
  }
  .w-15-m {
    width: 15%;
  }
  .w-20-m {
    width: 20%;
  }
  .w-25-m {
    width: 25%;
  }
  .w-30-m {
    width: 30%;
  }
  .w-33-m {
    width: calc(100% / 3);
  }
  .w-35-m {
    width: 35%;
  }
  .w-40-m {
    width: 40%;
  }
  .w-45-m {
    width: 45%;
  }
  .w-50-m {
    width: 50%;
  }
  .w-55-m {
    width: 55%;
  }
  .w-60-m {
    width: 60%;
  }
  .w-65-m {
    width: 65%;
  }
  .w-70-m {
    width: 70%;
  }
  .w-75-m {
    width: 75%;
  }
  .w-80-m {
    width: 80%;
  }
  .w-85-m {
    width: 85%;
  }
  .w-90-m {
    width: 90%;
  }
  .w-95-m {
    width: 95%;
  }
  .w-100-m {
    width: 100%;
  }
  .h-half-m {
    height: 50%;
  }
  .h-5-m {
    height: 5%;
  }
  .h-10-m {
    height: 10%;
  }
  .h-15-m {
    height: 15%;
  }
  .h-20-m {
    height: 20%;
  }
  .h-25-m {
    height: 25%;
  }
  .h-30-m {
    height: 30%;
  }
  .h-35-m {
    height: 35%;
  }
  .h-40-m {
    height: 40%;
  }
  .h-45-m {
    height: 45%;
  }
  .h-50-m {
    height: 50%;
  }
  .h-55-m {
    height: 55%;
  }
  .h-60-m {
    height: 60%;
  }
  .h-65-m {
    height: 65%;
  }
  .h-70-m {
    height: 70%;
  }
  .h-75-m {
    height: 75px;
  }
  .h-75perc-m, .h-75pe-m {
    height: 75%;
  }
  .h-80-m {
    height: 80%;
  }
  .h-85-m {
    height: 85%;
  }
  .h-90-m {
    height: 90%;
  }
  .h-95-m {
    height: 95%;
  }
  .h-screen {
    height: 100vh;
  }
  .h-screen-10-m {
    height: 10vh;
  }
  .h-screen-15-m {
    height: 15vh;
  }
  .h-screen-20-m {
    height: 20vh;
  }
  .h-screen-25-m {
    height: 25vh;
  }
  .h-screen-30-m {
    height: 30vh;
  }
  .h-screen-35-m {
    height: 35vh;
  }
  .h-screen-40-m {
    height: 40vh;
  }
  .h-screen-45-m {
    height: 45vh;
  }
  .h-screen-50-m {
    height: 50vh;
  }
  .h-screen-55-m {
    height: 55vh;
  }
  .h-screen-60-m {
    height: 60vh;
  }
  .h-screen-65-m {
    height: 65vh;
  }
  .h-screen-70-m {
    height: 70vh;
  }
  .h-screen-75-m {
    height: 75vh;
  }
  .h-screen-80-m {
    height: 80vh;
  }
  .h-screen-85-m {
    height: 85vh;
  }
  .h-screen-90-m {
    height: 90vh;
  }
  .h-screen-95-m {
    height: 95vh;
  }
  .h-screen-100-m {
    height: 100vh;
  }
  .h-full-m {
    height: 100%;
  }
  .h-fullscreen-m {
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .fullsize-l {
    width: 100%;
    height: 100%;
  }
  .fullscreen-l {
    width: 100vw;
    height: 100vh;
  }
  .w-half-l {
    width: 50%;
  }
  .w-full-l {
    width: 100%;
  }
  .w-fullscreen-l {
    width: 100vw;
  }
  .w-5-l {
    width: 5%;
  }
  .w-10-l {
    width: 10%;
  }
  .w-15-l {
    width: 15%;
  }
  .w-20-l {
    width: 20%;
  }
  .w-25-l {
    width: 25%;
  }
  .w-30-l {
    width: 30%;
  }
  .w-33-l {
    width: calc(100% / 3);
  }
  .w-35-l {
    width: 35%;
  }
  .w-40-l {
    width: 40%;
  }
  .w-45-l {
    width: 45%;
  }
  .w-50-l {
    width: 50%;
  }
  .w-55-l {
    width: 55%;
  }
  .w-60-l {
    width: 60%;
  }
  .w-65-l {
    width: 65%;
  }
  .w-70-l {
    width: 70%;
  }
  .w-75-l {
    width: 75%;
  }
  .w-80-l {
    width: 80%;
  }
  .w-85-l {
    width: 85%;
  }
  .w-90-l {
    width: 90%;
  }
  .w-95-l {
    width: 95%;
  }
  .w-100-l {
    width: 100%;
  }
  .h-half-l {
    height: 50%;
  }
  .h-5-l {
    height: 5%;
  }
  .h-10-l {
    height: 10%;
  }
  .h-15-m {
    height: 15%;
  }
  .h-20-l {
    height: 20%;
  }
  .h-25-l {
    height: 25%;
  }
  .h-30-l {
    height: 30%;
  }
  .h-35-l {
    height: 35%;
  }
  .h-40-l {
    height: 40%;
  }
  .h-45-l {
    height: 45%;
  }
  .h-50-l {
    height: 50%;
  }
  .h-55-l {
    height: 55%;
  }
  .h-60-l {
    height: 60%;
  }
  .h-65-l {
    height: 65%;
  }
  .h-70-l {
    height: 70%;
  }
  .h-75-l {
    height: 75px;
  }
  .h-75perc-l, .h-75pe-l {
    height: 75%;
  }
  .h-80-l {
    height: 80%;
  }
  .h-85-l {
    height: 85%;
  }
  .h-90-l {
    height: 90%;
  }
  .h-95-l {
    height: 95%;
  }
  .h-screen {
    height: 100vh;
  }
  .h-screen-10-l {
    height: 10vh;
  }
  .h-screen-15-l {
    height: 15vh;
  }
  .h-screen-20-l {
    height: 20vh;
  }
  .h-screen-25-l {
    height: 25vh;
  }
  .h-screen-30-l {
    height: 30vh;
  }
  .h-screen-35-l {
    height: 35vh;
  }
  .h-screen-40-l {
    height: 40vh;
  }
  .h-screen-45-l {
    height: 45vh;
  }
  .h-screen-50-l {
    height: 50vh;
  }
  .h-screen-55-l {
    height: 55vh;
  }
  .h-screen-60-l {
    height: 60vh;
  }
  .h-screen-65-l {
    height: 65vh;
  }
  .h-screen-70-l {
    height: 70vh;
  }
  .h-screen-75-l {
    height: 75vh;
  }
  .h-screen-80-l {
    height: 80vh;
  }
  .h-screen-85-l {
    height: 85vh;
  }
  .h-screen-90-l {
    height: 90vh;
  }
  .h-screen-95-l {
    height: 95vh;
  }
  .h-screen-100-l {
    height: 100vh;
  }
  .h-full-l {
    height: 100%;
  }
  .h-fullscreen-l {
    height: 100vh;
  }
}

.fixed {
  position: fixed;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.fixed-top-5 {
  top: 5px;
}

.fixed-top-15 {
  top: 15px;
}

.fixed-right-15 {
  right: 15px;
}

.floating,
.absolute {
  position: absolute !important;
}

.relative {
  position: relative;
}

.bottom,
.bot {
  bottom: 0;
}

.bottom-5,
.bot-5 {
  bottom: 5%;
}

.bottom-10,
.bot-10 {
  bottom: 10%;
}

.bottom-15,
.bot-15 {
  bottom: 15%;
}

.bottom-20,
.bot-20 {
  bottom: 20%;
}

.bottom-25,
.bot-25 {
  bottom: 25%;
}

.bottom-30,
.bot-30 {
  bottom: 30%;
}

.bottom-33,
.bot-33 {
  bottom: 33%;
}

.bottom-35,
.bot-35 {
  bottom: 35%;
}

.bottom-40,
.bot-40 {
  bottom: 40%;
}

.bottom-45,
.bot-45 {
  bottom: 45%;
}

.bottom-50,
.bot-50 {
  bottom: 50%;
}

.bottom-55,
.bot-55 {
  bottom: 55%;
}

.bottom-60,
.bot-60 {
  bottom: 60%;
}

.bottom-65,
.bot-65 {
  bottom: 65%;
}

.bottom-70,
.bot-70 {
  bottom: 70%;
}

.bottom-75,
.bot-75 {
  bottom: 75%;
}

.bottom-80,
.bot-80 {
  bottom: 80%;
}

.bottom-85,
.bot-85 {
  bottom: 85%;
}

.bottom-90,
.bot-90 {
  bottom: 90%;
}

.bottom-95,
.bot-95 {
  bottom: 95%;
}

.top {
  top: 0;
}

.top-5 {
  top: 5px;
}

.top-10 {
  top: 10px;
}

.top-10perc, .top-10pe {
  top: 10%;
}

.top-15 {
  top: 15px;
}

.top-20 {
  top: 20px;
}

.top-25 {
  top: 25px;
}

.top-30 {
  top: 30px;
}

.top-33 {
  top: 33px;
}

.top-35 {
  top: 35px;
}

.top-40 {
  top: 40px;
}

.top-45 {
  top: 45px;
}

.top-50 {
  top: 50px;
}

.top-55 {
  top: 55px;
}

.top-60 {
  top: 60px;
}

.top-65 {
  top: 65px;
}

.top-70 {
  top: 70px;
}

.top-75 {
  top: 75px;
}

.top-80 {
  top: 80px;
}

.top-85 {
  top: 85px;
}

.top-90 {
  top: 90px;
}

.top-95 {
  top: 95px;
}

.right {
  right: 0;
}

.right-5 {
  right: 5px;
}

.right-10 {
  right: 10px;
}

.right-15 {
  right: 15px;
}

.right-20 {
  right: 20px;
}

.right-25 {
  right: 25px;
}

.right-30 {
  right: 30px;
}

.right-33 {
  right: 33px;
}

.right-35 {
  right: 35px;
}

.right-40 {
  right: 40px;
}

.right-45 {
  right: 45px;
}

.right-50 {
  right: 50px;
}

.right-55 {
  right: 55px;
}

.right-60 {
  right: 60px;
}

.right-65 {
  right: 65px;
}

.right-70 {
  right: 70px;
}

.right-75 {
  right: 75px;
}

.right-80 {
  right: 80px;
}

.right-85 {
  right: 85px;
}

.right-90 {
  right: 90px;
}

.right-95 {
  right: 95px;
}

.left {
  left: 0;
}

.left-5 {
  left: 5%;
}

.left-10 {
  left: 10%;
}

.left-15 {
  left: 15%;
}

.left-20 {
  left: 20%;
}

.left-25 {
  left: 25%;
}

.left-30 {
  left: 30%;
}

.left-33 {
  left: 33%;
}

.left-35 {
  left: 35%;
}

.left-40 {
  left: 40%;
}

.left-45 {
  left: 45%;
}

.left-50 {
  left: 50%;
}

.left-55 {
  left: 55%;
}

.left-60 {
  left: 60%;
}

.left-65 {
  left: 65%;
}

.left-70 {
  left: 70%;
}

.left-75 {
  left: 75%;
}

.left-80 {
  left: 80%;
}

.left-85 {
  left: 85%;
}

.left-90 {
  left: 90%;
}

.left-95 {
  left: 95%;
}

.m-auto {
  margin: auto;
}

.m-25 {
  margin: 25px;
}

.mt-auto {
  margin-top: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-10perc {
  margin-top: 10%;
}

.mt-20 {
  margin-top: 25px;
}

.mt-20perc {
  margin-top: 25%;
}

.mt-25 {
  margin-top: 25px;
}

.mt-25perc {
  margin-top: 25%;
}

.mt-50 {
  margin-top: 50px;
}

.mt-50perc {
  margin-top: 50%;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-25perc {
  margin-bottom: 25%;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-50perc {
  margin-bottom: 50%;
}

.ml-auto {
  margin-left: auto;
}

.ml-10 {
  margin-left: 10px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-auto {
  margin-right: auto;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.mh-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mh-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mh-25perc {
  margin-left: 25%;
  margin-right: 25%;
}

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-50 {
  padding: 50px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.plr-5, .ph-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.plr-10, .ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-10pe, .plr-10perc, .ph-10pe, .ph-10perc {
  padding-left: 10%;
  padding-right: 10%;
}

.plr-15, .ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.plr-20, .ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.plr-20pe, .plr-20perc, .ph-20pe, .ph-20perc {
  padding-left: 20%;
  padding-right: 20%;
}

.plr-25, .ph-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-25pe, .plr-25perc, .ph-25pe, .ph-25perc {
  padding-left: 25%;
  padding-right: 25%;
}

.plr-50, .ph-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.ptb-5, .pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10, .pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-15, .pv-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb-20, .pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-25, .pv-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.m-auto-s {
  margin: auto;
}

.mt-auto-s {
  margin-top: auto;
}

.mt-10-s {
  margin-top: 10px;
}

.mt-10perc-s {
  margin-top: 10%;
}

.mt-20-s {
  margin-top: 25px;
}

.mt-20perc-s {
  margin-top: 25%;
}

.mt-25-s {
  margin-top: 25px;
}

.mt-25perc-s {
  margin-top: 25%;
}

.mt-50-s {
  margin-top: 50px;
}

.mt-50perc-s {
  margin-top: 50%;
}

.mb-25-s {
  margin-bottom: 25px;
}

.mb-25perc-s {
  margin-bottom: 25%;
}

.mb-50-s {
  margin-bottom: 50px;
}

.mb-50perc-s {
  margin-bottom: 50%;
}

.ml-auto-s {
  margin-left: auto;
}

.ml-25-s {
  margin-left: 25px;
}

.ml-50-s {
  margin-left: 50px;
}

.mr-5-s {
  margin-right: 5px;
}

.mr-10-s {
  margin-right: 10px;
}

.mr-15-s {
  margin-right: 15px;
}

.mr-20-s {
  margin-right: 20px;
}

.mr-25-s {
  margin-right: 25px;
}

.mr-50-s {
  margin-right: 50px;
}

.mr-auto-s {
  margin-right: auto;
}

.mh-5-s {
  margin-left: 5px;
  margin-right: 5px;
}

.mh-10-s {
  margin-left: 10px;
  margin-right: 10px;
}

.mh-25-s {
  margin-left: 25px;
  margin-right: 25px;
}

.mv-5-s {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv-10-s {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-5-s {
  padding: 5px;
}

.p-10-s {
  padding: 10px;
}

.p-15-s {
  padding: 15px;
}

.p-20-s {
  padding: 20px;
}

.p-25-s {
  padding: 25px;
}

.p-50-s {
  padding: 50px;
}

.pt-10-s {
  padding-top: 10px;
}

.pt-15-s {
  padding-top: 15px;
}

.pt-20-s {
  padding-top: 20px;
}

.pt-25-s {
  padding-top: 25px;
}

.pt-100-s {
  padding-top: 100px;
}

.plr-5-s, .ph-5-s {
  padding-left: 5px;
  padding-right: 5px;
}

.plr-10-s, .ph-10-s {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-10pe-s, .plr-10perc-s, .ph-10pe-s, .ph-10perc-s {
  padding-left: 10%;
  padding-right: 10%;
}

.plr-20-s, .ph-20-s {
  padding-left: 20px;
  padding-right: 20px;
}

.plr-20pe-s, .plr-20perc-s, .ph-20pe-s, .ph-20perc-s {
  padding-left: 20%;
  padding-right: 20%;
}

.plr-25-s, .ph-25-s {
  padding-left: 25px;
  padding-right: 25px;
}

.plr-25pe-s, .plr-25perc-s, .ph-25pe-s, .ph-25perc-s {
  padding-left: 25%;
  padding-right: 25%;
}

.ptb-5-s, .pv-5-s {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ptb-10-s, .pv-10-s {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ptb-15-s, .pv-15-s {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ptb-25-s, .pv-25-s {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pr-10-s {
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .m-auto-m {
    margin: auto;
  }
  .mt-auto-m {
    margin-top: auto;
  }
  .mt-10-m {
    margin-top: 10px;
  }
  .mt-10perc-m {
    margin-top: 10%;
  }
  .mt-20-m {
    margin-top: 25px;
  }
  .mt-20perc-m {
    margin-top: 25%;
  }
  .mt-25-m {
    margin-top: 25px;
  }
  .mt-25perc-m {
    margin-top: 25%;
  }
  .mt-50-m {
    margin-top: 50px;
  }
  .mt-50perc-m {
    margin-top: 50%;
  }
  .mb-25-m {
    margin-bottom: 25px;
  }
  .mb-25perc-m {
    margin-bottom: 25%;
  }
  .mb-50-m {
    margin-bottom: 50px;
  }
  .mb-50perc-m {
    margin-bottom: 50%;
  }
  .ml-auto-m {
    margin-left: auto;
  }
  .ml-25-m {
    margin-left: 25px;
  }
  .ml-50-m {
    margin-left: 50px;
  }
  .mr-5-m {
    margin-right: 5px;
  }
  .mr-10-m {
    margin-right: 10px;
  }
  .mr-15-m {
    margin-right: 15px;
  }
  .mr-20-m {
    margin-right: 20px;
  }
  .mr-25-m {
    margin-right: 25px;
  }
  .mr-50-m {
    margin-right: 50px;
  }
  .mr-auto-m {
    margin-right: auto;
  }
  .mh-5-m {
    margin-left: 5px;
    margin-right: 5px;
  }
  .mh-10-m {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mh-25-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .mv-5-m {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mv-10-m {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mv-25-m {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .p-5-m {
    padding: 5px;
  }
  .p-10-m {
    padding: 10px;
  }
  .p-15-m {
    padding: 15px;
  }
  .p-20-m {
    padding: 20px;
  }
  .p-25-m {
    padding: 25px;
  }
  .p-50-m {
    padding: 50px;
  }
  .pt-10-m {
    padding-top: 10px;
  }
  .pt-15-m {
    padding-top: 15px;
  }
  .pt-20-m {
    padding-top: 20px;
  }
  .pt-25-m {
    padding-top: 25px;
  }
  .pt-100-m {
    padding-top: 100px;
  }
  .plr-5-m, .ph-5-m {
    padding-left: 5px;
    padding-right: 5px;
  }
  .plr-10-m, .ph-10-m {
    padding-left: 10px;
    padding-right: 10px;
  }
  .plr-10pe-m, .plr-10perc-m, .ph-10pe-m, .ph-10perc-m {
    padding-left: 10%;
    padding-right: 10%;
  }
  .plr-20-m, .ph-20-m {
    padding-left: 20px;
    padding-right: 20px;
  }
  .plr-20pe-m, .plr-20perc-m, .ph-20pe-m, .ph-20perc-m {
    padding-left: 20%;
    padding-right: 20%;
  }
  .plr-25-m, .ph-25-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .plr-25pe-m, .plr-25perc-m, .ph-25pe-m, .ph-25perc-m {
    padding-left: 25%;
    padding-right: 25%;
  }
  .ptb-5-m, .pv-5-m {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ptb-10-m, .pv-10-m {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptb-15-m, .pv-15-m {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .ptb-25-m, .pv-25-m {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .pr-10-m {
    padding-right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .m-auto-l {
    margin: auto;
  }
  .mt-auto-l {
    margin-top: auto;
  }
  .mt-10-l {
    margin-top: 10px;
  }
  .mt-10perc-l {
    margin-top: 10%;
  }
  .mt-20-l {
    margin-top: 25px;
  }
  .mt-20perc-l {
    margin-top: 25%;
  }
  .mt-25-l {
    margin-top: 25px;
  }
  .mt-25perc-l {
    margin-top: 25%;
  }
  .mt-50-l {
    margin-top: 50px;
  }
  .mt-50perc-l {
    margin-top: 50%;
  }
  .mb-25-l {
    margin-bottom: 25px;
  }
  .mb-25perc-l {
    margin-bottom: 25%;
  }
  .mb-50-l {
    margin-bottom: 50px;
  }
  .mb-50perc-l {
    margin-bottom: 50%;
  }
  .ml-auto-l {
    margin-left: auto;
  }
  .ml-25-l {
    margin-left: 25px;
  }
  .ml-50-l {
    margin-left: 50px;
  }
  .mr-5-l {
    margin-right: 5px;
  }
  .mr-10-l {
    margin-right: 10px;
  }
  .mr-15-l {
    margin-right: 15px;
  }
  .mr-20-l {
    margin-right: 20px;
  }
  .mr-25-l {
    margin-right: 25px;
  }
  .mr-50-l {
    margin-right: 50px;
  }
  .mr-auto-l {
    margin-right: auto;
  }
  .mh-5-l {
    margin-left: 5px;
    margin-right: 5px;
  }
  .mh-10-l {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mh-25-l {
    margin-left: 25px;
    margin-right: 25px;
  }
  .mv-5-l {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mv-10-l {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mv-25-l {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .p-5-l {
    padding: 5px;
  }
  .p-10-l {
    padding: 10px;
  }
  .p-15-l {
    padding: 15px;
  }
  .p-20-l {
    padding: 20px;
  }
  .p-25-l {
    padding: 25px;
  }
  .p-50-l {
    padding: 50px;
  }
  .pt-10-l {
    padding-top: 10px;
  }
  .pt-15-l {
    padding-top: 15px;
  }
  .pt-20-l {
    padding-top: 20px;
  }
  .pt-25-l {
    padding-top: 25px;
  }
  .pt-100-l {
    padding-top: 100px;
  }
  .plr-5-l, .ph-5-l {
    padding-left: 5px;
    padding-right: 5px;
  }
  .plr-10-l, .ph-10-l {
    padding-left: 10px;
    padding-right: 10px;
  }
  .plr-10pe-l, .plr-10perc-l, .ph-10pe-l, .ph-10perc-l {
    padding-left: 10%;
    padding-right: 10%;
  }
  .plr-20-l, .ph-20-l {
    padding-left: 20px;
    padding-right: 20px;
  }
  .plr-20pe-l, .plr-20perc-l, .ph-20pe-l, .ph-20perc-l {
    padding-left: 20%;
    padding-right: 20%;
  }
  .plr-25-l, .ph-25-l {
    padding-left: 25px;
    padding-right: 25px;
  }
  .plr-25pe-l, .plr-25perc-l, .ph-25pe-l, .ph-25perc-l {
    padding-left: 25%;
    padding-right: 25%;
  }
  .plr-50-l, .ph-50-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .ptb-5-l, .pv-5-l {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ptb-10-l, .pv-10-l {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptb-15-l, .pv-15-l {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .ptb-25-l, .pv-25-l {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .pr-10-l {
    padding-right: 10px;
  }
}

a {
  text-decoration: none;
}

.is-italic, .italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.semi-bold, .semibold, .is-semibold, .is-semi-bold {
  font-weight: 500;
}

.bold, .is-bold {
  font-weight: bold;
}

.text-centered, .text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.is-1 {
  font-size: 3rem;
}

.is-2 {
  font-size: 2.5rem;
}

.is-3 {
  font-size: 2rem;
}

.is-4 {
  font-size: 1.5rem;
}

.is-5 {
  font-size: 1.25em;
}

.is-6 {
  font-size: 1em;
}

.is-7 {
  font-size: .75em;
}

.is-8 {
  font-size: .5em;
}

.is-9 {
  font-size: .25em;
}

.is-1-s {
  font-size: 3rem;
}

.is-2-s {
  font-size: 2.5rem;
}

.is-3-s {
  font-size: 2rem;
}

.is-4-s {
  font-size: 1.5rem;
}

.is-5-s {
  font-size: 1.25em;
}

.is-6-s {
  font-size: 1em;
}

.is-7-s {
  font-size: .75em;
}

.is-8-s {
  font-size: .5em;
}

.is-9-s {
  font-size: .25em;
}

@media screen and (min-width: 768px) {
  .is-1-m {
    font-size: 3rem;
  }
  .is-2-m {
    font-size: 2.5rem;
  }
  .is-3-m {
    font-size: 2rem;
  }
  .is-4-m {
    font-size: 1.5rem;
  }
  .is-5-m {
    font-size: 1.25em;
  }
  .is-6-m {
    font-size: 1em;
  }
  .is-7-m {
    font-size: .75em;
  }
  .is-8-m {
    font-size: .5em;
  }
  .is-9-m {
    font-size: .25em;
  }
}

@media screen and (min-width: 1024px) {
  .is-1-l {
    font-size: 3rem;
  }
  .is-2-l {
    font-size: 2.5rem;
  }
  .is-3-l {
    font-size: 2rem;
  }
  .is-4-l {
    font-size: 1.5rem;
  }
  .is-5-l {
    font-size: 1.25em;
  }
  .is-6-l {
    font-size: 1em;
  }
  .is-7-l {
    font-size: .75em;
  }
  .is-8-l {
    font-size: .5em;
  }
  .is-9-l {
    font-size: .25em;
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.button {
  display: inline-flex;
  position: relative;
  border: 0;
  cursor: pointer;
  border: 1px solid transparent;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  padding-bottom: calc(.375em - 1px);
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 1em;
  outline: none;
}

.button .icon, .button .icon.is-small, .button .icon.is-medium, .button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}

.button .icon {
  margin-left: calc(-0.375em - 1px);
  margin-right: 0.1875em;
}

.button .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button.is-fullWidth {
  display: flex;
  width: 100%;
}

.button.is-small {
  font-size: .75rem;
}

.button.is-medium {
  font-size: 1.25rem;
}

.button.is-large {
  font-size: 1.5rem;
}

.button.is-rounded {
  border-radius: 25px;
}

.button.is-loading {
  color: transparent !important;
}

.button.is-loading::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  pointer-events: none;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

.button.is-small-s {
  font-size: .75rem;
}

.button.is-medium-s {
  font-size: 1.25rem;
}

.button.is-large-s {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .button.is-small-m {
    font-size: .75rem;
  }
  .button.is-medium-m {
    font-size: 1.25rem;
  }
  .button.is-large-m {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .button.is-small-l {
    font-size: .75rem;
  }
  .button.is-medium-l {
    font-size: 1.25rem;
  }
  .button.is-large-l {
    font-size: 1.5rem;
  }
}

.pointer {
  cursor: pointer;
}

.undisplayed {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.no-borders, .no-border, .no-borders {
  border: none !important;
}

.bordermax {
  border-radius: 100%;
}

*[disabled], *[disabled="disabled"] {
  opacity: .5;
  cursor: not-allowed;
}

.tag {
  padding: 5px;
  border-radius: 25px;
  width: fit-content;
}

.input {
  border: 1px solid #dbdbdb;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  padding-bottom: calc(.375em - 1px);
  line-height: 1.5;
  height: 2.25em;
  font-size: 1em;
}

.input:focus {
  outline: none;
}

.input.is-rounded {
  border-radius: 25px;
}

.input.is-medium {
  font-size: 1.25rem;
}

.input.is-medium ~ .icon {
  font-size: 1.25rem;
}

.input.is-large {
  font-size: 1.5rem;
}

.input.is-large ~ .icon {
  font-size: 1.5rem;
}

.control {
  position: relative;
}

.control.has-icon-left .input {
  padding-left: 2.25em;
}

.control.has-icon-right .input {
  padding-right: 2.25em;
}

.control .icon {
  display: flex;
  position: absolute;
  top: 0;
  width: 2.25em;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #dbdbdb;
}

.control .icon.is-left {
  left: 0;
}

.control .icon.is-right {
  right: 0;
}

/*# sourceMappingURL=ploume.css.map */