.m-auto {
  margin: auto;
}
.m-25 {
  margin: 25px;
}
.m-50 {
  margin: 50px;
}
.mt-auto {
  margin-top: auto;
}
.mt-5 {
  margin-top: 5px;
}
.mt-5perc {
  margin-top: 5%;
}
.mt-10 {
  margin-top: 10px;
}
.mt-10perc {
  margin-top: 10%;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 25px;
}
.mt-20perc {
  margin-top: 25%;
}
.mt-25 {
  margin-top: 25px;
}
.mt-25perc {
  margin-top: 25%;
}
.mt-50 {
  margin-top: 50px;
}
.mt-50perc {
  margin-top: 50%;
}
.mt-100 {
  margin-top: 100px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-25perc {
  margin-bottom: 25%;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-50perc {
  margin-bottom: 50%;
}
.ml-auto {
  margin-left: auto;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-auto {
  margin-right: auto;
}
.mh-auto {
  margin-left: auto;
  margin-right: auto;
}
.mh-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mh-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mh-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mh-25 {
  margin-left: 25px;
  margin-right: 25px;
}
.mh-25perc {
  margin-left: 25%;
  margin-right: 25%;
}
.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mv-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mv-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-25 {
  padding: 25px;
}
.p-50 {
  padding: 50px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-100 {
  padding-top: 100px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-25 {
  padding-right: 25px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pl-25 {
  padding-left: 25px;
}
.plr-5, .ph-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.plr-10, .ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.plr-10pe, .plr-10perc, .ph-10pe, .ph-10perc {
  padding-left: 10%;
  padding-right: 10%;
}
.plr-15, .ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.plr-20, .ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.plr-20pe, .plr-20perc, .ph-20pe, .ph-20perc {
  padding-left: 20%;
  padding-right: 20%;
}
.plr-25, .ph-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.plr-25pe, .plr-25perc, .ph-25pe, .ph-25perc {
  padding-left: 25%;
  padding-right: 25%;
}
.plr-50, .ph-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.ptb-5, .pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ptb-10, .pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb-15, .pv-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ptb-20, .pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptb-25, .pv-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.ptb-50, .pv-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.m-auto-s {
  margin: auto;
}
.mt-auto-s {
  margin-top: auto;
}
.mt-10-s {
  margin-top: 10px;
}
.mt-10perc-s {
  margin-top: 10%;
}
.mt-20-s {
  margin-top: 25px;
}
.mt-20perc-s {
  margin-top: 25%;
}
.mt-25-s {
  margin-top: 25px;
}
.mt-25perc-s {
  margin-top: 25%;
}
.mt-50-s {
  margin-top: 50px;
}
.mt-50perc-s {
  margin-top: 50%;
}
.mb-25-s {
  margin-bottom: 25px;
}
.mb-25perc-s {
  margin-bottom: 25%;
}
.mb-50-s {
  margin-bottom: 50px;
}
.mb-50perc-s {
  margin-bottom: 50%;
}
.ml-auto-s {
  margin-left: auto;
}
.ml-25-s {
  margin-left: 25px;
}
.ml-50-s {
  margin-left: 50px;
}
.mr-5-s {
  margin-right: 5px;
}
.mr-10-s {
  margin-right: 10px;
}
.mr-15-s {
  margin-right: 15px;
}
.mr-20-s {
  margin-right: 20px;
}
.mr-25-s {
  margin-right: 25px;
}
.mr-50-s {
  margin-right: 50px;
}
.mr-auto-s {
  margin-right: auto;
}
.mh-5-s {
  margin-left: 5px;
  margin-right: 5px;
}
.mh-10-s {
  margin-left: 10px;
  margin-right: 10px;
}
.mh-25-s {
  margin-left: 25px;
  margin-right: 25px;
}
.mv-5-s {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mv-10-s {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mv-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.p-5-s {
  padding: 5px;
}
.p-10-s {
  padding: 10px;
}
.p-15-s {
  padding: 15px;
}
.p-20-s {
  padding: 20px;
}
.p-25-s {
  padding: 25px;
}
.p-50-s {
  padding: 50px;
}
.pt-10-s {
  padding-top: 10px;
}
.pt-15-s {
  padding-top: 15px;
}
.pt-20-s {
  padding-top: 20px;
}
.pt-25-s {
  padding-top: 25px;
}
.pt-100-s {
  padding-top: 100px;
}
.plr-5-s, .ph-5-s {
  padding-left: 5px;
  padding-right: 5px;
}
.plr-10-s, .ph-10-s {
  padding-left: 10px;
  padding-right: 10px;
}
.plr-10pe-s, .plr-10perc-s, .ph-10pe-s, .ph-10perc-s {
  padding-left: 10%;
  padding-right: 10%;
}
.plr-20-s, .ph-20-s {
  padding-left: 20px;
  padding-right: 20px;
}
.plr-20pe-s, .plr-20perc-s, .ph-20pe-s, .ph-20perc-s {
  padding-left: 20%;
  padding-right: 20%;
}
.plr-25-s, .ph-25-s {
  padding-left: 25px;
  padding-right: 25px;
}
.plr-25pe-s, .plr-25perc-s, .ph-25pe-s, .ph-25perc-s {
  padding-left: 25%;
  padding-right: 25%;
}
.ptb-5-s, .pv-5-s {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ptb-10-s, .pv-10-s {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb-15-s, .pv-15-s {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ptb-25-s, .pv-25-s {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pr-10-s {
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .m-auto-m {
    margin: auto;
  }
  .mt-auto-m {
    margin-top: auto;
  }
  .mt-10-m {
    margin-top: 10px;
  }
  .mt-10perc-m {
    margin-top: 10%;
  }
  .mt-20-m {
    margin-top: 25px;
  }
  .mt-20perc-m {
    margin-top: 25%;
  }
  .mt-25-m {
    margin-top: 25px;
  }
  .mt-25perc-m {
    margin-top: 25%;
  }
  .mt-50-m {
    margin-top: 50px;
  }
  .mt-50perc-m {
    margin-top: 50%;
  }
  .mb-25-m {
    margin-bottom: 25px;
  }
  .mb-25perc-m {
    margin-bottom: 25%;
  }
  .mb-50-m {
    margin-bottom: 50px;
  }
  .mb-50perc-m {
    margin-bottom: 50%;
  }
  .ml-auto-m {
    margin-left: auto;
  }
  .ml-25-m {
    margin-left: 25px;
  }
  .ml-50-m {
    margin-left: 50px;
  }
  .mr-5-m {
    margin-right: 5px;
  }
  .mr-10-m {
    margin-right: 10px;
  }
  .mr-15-m {
    margin-right: 15px;
  }
  .mr-20-m {
    margin-right: 20px;
  }
  .mr-25-m {
    margin-right: 25px;
  }
  .mr-50-m {
    margin-right: 50px;
  }
  .mr-auto-m {
    margin-right: auto;
  }
  .mh-5-m {
    margin-left: 5px;
    margin-right: 5px;
  }
  .mh-10-m {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mh-25-m {
    margin-left: 25px;
    margin-right: 25px;
  }
  .mv-5-m {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mv-10-m {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mv-25-m {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .p-5-m {
    padding: 5px;
  }
  .p-10-m {
    padding: 10px;
  }
  .p-15-m {
    padding: 15px;
  }
  .p-20-m {
    padding: 20px;
  }
  .p-25-m {
    padding: 25px;
  }
  .p-50-m {
    padding: 50px;
  }
  .pt-10-m {
    padding-top: 10px;
  }
  .pt-15-m {
    padding-top: 15px;
  }
  .pt-20-m {
    padding-top: 20px;
  }
  .pt-25-m {
    padding-top: 25px;
  }
  .pt-100-m {
    padding-top: 100px;
  }
  .plr-5-m, .ph-5-m {
    padding-left: 5px;
    padding-right: 5px;
  }
  .plr-10-m, .ph-10-m {
    padding-left: 10px;
    padding-right: 10px;
  }
  .plr-10pe-m, .plr-10perc-m, .ph-10pe-m, .ph-10perc-m {
    padding-left: 10%;
    padding-right: 10%;
  }
  .plr-20-m, .ph-20-m {
    padding-left: 20px;
    padding-right: 20px;
  }
  .plr-20pe-m, .plr-20perc-m, .ph-20pe-m, .ph-20perc-m {
    padding-left: 20%;
    padding-right: 20%;
  }
  .plr-25-m, .ph-25-m {
    padding-left: 25px;
    padding-right: 25px;
  }
  .plr-25pe-m, .plr-25perc-m, .ph-25pe-m, .ph-25perc-m {
    padding-left: 25%;
    padding-right: 25%;
  }
  .ptb-5-m, .pv-5-m {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ptb-10-m, .pv-10-m {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptb-15-m, .pv-15-m {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .ptb-25-m, .pv-25-m {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .pr-10-m {
    padding-right: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .m-auto-l {
    margin: auto;
  }
  .mt-auto-l {
    margin-top: auto;
  }
  .mt-10-l {
    margin-top: 10px;
  }
  .mt-10perc-l {
    margin-top: 10%;
  }
  .mt-20-l {
    margin-top: 25px;
  }
  .mt-20perc-l {
    margin-top: 25%;
  }
  .mt-25-l {
    margin-top: 25px;
  }
  .mt-25perc-l {
    margin-top: 25%;
  }
  .mt-50-l {
    margin-top: 50px;
  }
  .mt-50perc-l {
    margin-top: 50%;
  }
  .mb-25-l {
    margin-bottom: 25px;
  }
  .mb-25perc-l {
    margin-bottom: 25%;
  }
  .mb-50-l {
    margin-bottom: 50px;
  }
  .mb-50perc-l {
    margin-bottom: 50%;
  }
  .ml-auto-l {
    margin-left: auto;
  }
  .ml-25-l {
    margin-left: 25px;
  }
  .ml-50-l {
    margin-left: 50px;
  }
  .mr-5-l {
    margin-right: 5px;
  }
  .mr-10-l {
    margin-right: 10px;
  }
  .mr-15-l {
    margin-right: 15px;
  }
  .mr-20-l {
    margin-right: 20px;
  }
  .mr-25-l {
    margin-right: 25px;
  }
  .mr-50-l {
    margin-right: 50px;
  }
  .mr-auto-l {
    margin-right: auto;
  }
  .mh-5-l {
    margin-left: 5px;
    margin-right: 5px;
  }
  .mh-10-l {
    margin-left: 10px;
    margin-right: 10px;
  }
  .mh-25-l {
    margin-left: 25px;
    margin-right: 25px;
  }
  .mv-5-l {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mv-10-l {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mv-25-l {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .p-5-l {
    padding: 5px;
  }
  .p-10-l {
    padding: 10px;
  }
  .p-15-l {
    padding: 15px;
  }
  .p-20-l {
    padding: 20px;
  }
  .p-25-l {
    padding: 25px;
  }
  .p-50-l {
    padding: 50px;
  }
  .pt-10-l {
    padding-top: 10px;
  }
  .pt-15-l {
    padding-top: 15px;
  }
  .pt-20-l {
    padding-top: 20px;
  }
  .pt-25-l {
    padding-top: 25px;
  }
  .pt-100-l {
    padding-top: 100px;
  }
  .plr-5-l, .ph-5-l {
    padding-left: 5px;
    padding-right: 5px;
  }
  .plr-10-l, .ph-10-l {
    padding-left: 10px;
    padding-right: 10px;
  }
  .plr-10pe-l, .plr-10perc-l, .ph-10pe-l, .ph-10perc-l {
    padding-left: 10%;
    padding-right: 10%;
  }
  .plr-20-l, .ph-20-l {
    padding-left: 20px;
    padding-right: 20px;
  }
  .plr-20pe-l, .plr-20perc-l, .ph-20pe-l, .ph-20perc-l {
    padding-left: 20%;
    padding-right: 20%;
  }
  .plr-25-l, .ph-25-l {
    padding-left: 25px;
    padding-right: 25px;
  }
  .plr-25pe-l, .plr-25perc-l, .ph-25pe-l, .ph-25perc-l {
    padding-left: 25%;
    padding-right: 25%;
  }
  .plr-50-l, .ph-50-l {
    padding-left: 50px;
    padding-right: 50px;
  }
  .ptb-5-l, .pv-5-l {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .ptb-10-l, .pv-10-l {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ptb-15-l, .pv-15-l {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .ptb-25-l, .pv-25-l {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .pr-10-l {
    padding-right: 10px;
  }
}

/*# sourceMappingURL=margins&paddings.css.map */
