$purple: #842a88
$blue: #0e348a
$light-purple: #5f1870

//########## COLORS ##########

.bg
  &-white
    background-color: white
    color: black

  &-blue
    background-color: $blue
    color: white

//########## POSITION ##########

.bg
  &-norepeat, &-no-repeat
    background-repeat: no-repeat

.bg
  &-top
    background-position: top
  &-right
    background-position: right
  &-left
    background-position: left
  &-bottom
    background-position: bottom
  &-center
    background-position: center

//########## SIZE ##########

.bg
  &-cover
    background-size: cover
  &-contain
    background-size: contain
  &--auto
    background-size: auto
