$sizes: 5, 10, 15, 20, 25, 50

@each $size in $sizes
  .bordered, .border
    &-#{$size}
      border-radius: #{$size}px

// XS = EXTRA SMALL - Small Mobile
@media screen and (min-width: 300px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-xs
        border-radius: #{$size}px

// S = SMALL - Mobile
@media screen and (min-width: 300px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-s
        border-radius: #{$size}px

// M = MEDIUM - Tablette
@media screen and (min-width: 768px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-m
        border-radius: #{$size}px

// L = LARGE - Desktop
@media screen and (min-width: 1024px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-l
        border-radius: #{$size}px

// XL = EXTRA LARGE - Large Desktop
@media screen and (min-width: 1024px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-xl
        border-radius: #{$size}px
