$sizes: 5, 10, 15, 20, 25, 50

.no-borders, .no-border, .noborders, .noborder
  border: none

.bordermax
  border-radius: 100%

@each $size in $sizes
  .bordered, .border
    &-#{$size}
      border-radius: #{$size}px

  .no-borders-#{$size},
  .no-border-#{$size},
  .noborders-#{$size},
  .noborder-#{$size}
    border: none

  .bordermax-#{$size}
    border-radius: 100%

// XS = EXTRA SMALL - Small Mobile
@media screen and (min-width: 300px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-xs
        border-radius: #{$size}px

    .no-borders-#{$size}-xs,
    .no-border-#{$size}-xs,
    .noborders-#{$size}-xs,
    .noborder-#{$size}-xs
      border: none

    .bordermax-xs
      border-radius: 100%

// S = SMALL - Mobile
@media screen and (min-width: 576px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-s
        border-radius: #{$size}px

    .no-borders-#{$size}-s,
    .no-border-#{$size}-s,
    .noborders-#{$size}-s,
    .noborder-#{$size}-s
      border: none

    .bordermax-s
      border-radius: 100%

// M = MEDIUM - Tablette
@media screen and (min-width: 768px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-m
        border-radius: #{$size}px

    .no-borders-#{$size}-m,
    .no-border-#{$size}-m,
    .noborders-#{$size}-m,
    .noborder-#{$size}-m
      border: none

    .bordermax-m
      border-radius: 100%

// L = LARGE - Desktop
@media screen and (min-width: 1024px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-l
        border-radius: #{$size}px

    .no-borders-#{$size}-l,
    .no-border-#{$size}-l,
    .noborders-#{$size}-l,
    .noborder-#{$size}-l
      border: none

    .bordermax-l
      border-radius: 100%

// XL = EXTRA LARGE - Large Desktop
@media screen and (min-width: 1024px)
  @each $size in $sizes
    .bordered, .border
      &-#{$size}-xl
        border-radius: #{$size}px

    .no-borders-#{$size}-xl,
    .no-border-#{$size}-xl,
    .noborders-#{$size}-xl,
    .noborder-#{$size}-xl
      border: none

    .bordermax-xl
      border-radius: 100%
