$black: #000
$white: #FFF
$dark: #363636
$light-dark: #505050
$light-grey: #707070
$light: #f5f5f5
$primary: #00d1b2
$link: #3273dc
$info: #209cee
$success: #23d160
$success-hover: #22c65b
$warning: #ffdd57
$darkwarning: #ddb517
$caution: #ED6E59
$danger: #ff3860
$purple: rgb(125, 0, 231)

//########## BACKGROUNDS ##########
div,
nav,
a,
header,
aside,
button,
form,
body
  &.is-white
    background-color: $white
    color: #707070

    &_hover:hover
      background-color: $white !important

      & > *
        color: #707070 !important

    &.is-outlined
      background-color: transparent
      border-color: $light
      color: $light-grey

      &:hover
        background-color: $light
        color: $light-dark

  &.is-black
    background-color: $black
    color: $white

  &.is-dark
    background-color: $dark

    & *
      color: $white

  &.is-lightdark
    background-color: $light-dark
    &_hover:hover
      background-color: $light-dark !important
      & > *
        color: $white !important

    & *
      color: $white

  &.is-light
    background-color: $light
    &_hover:hover
      background-color: $light !important
      & > *
        color: #707070 !important

  &.is-primary
    background-color: $primary
    color: $white

    &_hover:hover
      background-color: $primary !important
      color: $white !important
      & > *
        color: $white !important

  &.is-link
    background-color: $link
    color: $white
    &_hover:hover
      background-color: $link !important
      & > *
        color: white !important

    &.is-outlined
      background-color: transparent
      border-color: $link
      color: $link

      &:hover
        background-color: $link
        color: white

  &.is-info
    background-color: $info
    color: $white

    &_hover:hover
      background-color: $info !important

      & > *
        color: white !important

    &.is-outlined
      background-color: transparent
      border-color: $info
      color: $info

  &.is-success
    background-color: $success
    color: $white

    &.is-outlined
      border: 1px solid $success
      background-color: $white

    &_hover:hover
      background-color: $success !important
      & > *
        color: white !important

    &:hover
      background-color: $success-hover

  &.is-warning
    background-color: $warning
    &_hover:hover
      background-color: $warning !important
      & > *
        color: #707070 !important

  &.is-darkwarning
    background-color: $darkwarning
    color: white

    &_hover:hover
      background-color: $darkwarning !important
      & > *
        color: #707070 !important

  &.is-caution
    background-color: $caution
    color: $white
    &_hover:hover
      background-color: $caution !important
      & > *
        color: white !important

  &.is-danger
    background-color: $danger
    color: $white

    &.is-outlined
      background-color: transparent
      border-color: $danger
      color: $danger

      &:hover
        background-color: $danger
        color: $white

    &_hover:hover
      background-color: $danger !important
      & > *
        color: white !important

  &.is-purple
    background-color: $purple
    color: $white

//########## TEXT ##########
p, span, h1, h2, h3, h3, h5, h6, i
  &.is-white
    color: $white
  &.is-black
    color: $black
  &.is-dark
    color: $dark
  &.is-light-grey
    color: $light-grey
  &.is-light
    color: $light
  &.is-primary
    color: $primary
  &.is-link
    color: $link
  &.is-info
    color: $info
  &.is-success
    color: $success
  &.is-warning
    color: $warning
  &.is-darkwarning
    color: $darkwarning
  &.is-caution
    color: $caution
  &.is-danger
    color: $danger
  &.is-purple
    color: $purple
