.flex
  display: flex

  &-row, &-r, &-h
    display: flex
    flex-direction: row

    &.v-center, &.v-centered
      justify-content: center
    &.h-center, &.h-centered
      align-items: center

  &-col, &-c, &-column, &-v
    display: flex
    flex-direction: column

    &.v-center, &.v-centered
      align-items: center
    &.h-center, &.h-centered
      justify-content: center

.content-centered
  display: flex
  justify-content: center
  align-items: center

.wrap
  flex-wrap: wrap
