.flex
  display: flex

  &-row, &-h
    display: flex
    flex-direction: row

  &-col, &-v
    display: flex
    flex-direction: column

.allcentered
  display: flex
  justify-content: center
  align-items: center
