.fixed
  position: fixed

  &-top
    position: fixed
    top: 0

    &-5
      top: 5px
    &-15
      top: 15px

  &-right
    &-15
      right: 15px

.floating,
.absolute
  position: absolute !important

.relative
  position: relative

.bottom,
.bot
  bottom: 0

  &-5
    bottom: 5%
  &-10
    bottom: 10%
  &-15
    bottom: 15%
  &-20
    bottom: 20%
  &-25
    bottom: 25%
  &-30
    bottom: 30%
  &-33
    bottom: 33%
  &-35
    bottom: 35%
  &-40
    bottom: 40%
  &-45
    bottom: 45%
  &-50
    bottom: 50%
  &-55
    bottom: 55%
  &-60
    bottom: 60%
  &-65
    bottom: 65%
  &-70
    bottom: 70%
  &-75
    bottom: 75%
  &-80
    bottom: 80%
  &-85
    bottom: 85%
  &-90
    bottom: 90%
  &-95
    bottom: 95%

.top
  top: 0

  &-5
    top: 5px
  &-10
    top: 10px
    &perc, &pe
      top: 10%
  &-15
    top: 15px
  &-20
    top: 20px
  &-25
    top: 25px
  &-30
    top: 30px
  &-33
    top: 33px
  &-35
    top: 35px
  &-40
    top: 40px
  &-45
    top: 45px
  &-50
    top: 50px
  &-55
    top: 55px
  &-60
    top: 60px
  &-65
    top: 65px
  &-70
    top: 70px
  &-75
    top: 75px
  &-80
    top: 80px
  &-85
    top: 85px
  &-90
    top: 90px
  &-95
    top: 95px

.right
  right: 0

  &-5
    right: 5px
  &-10
    right: 10px
  &-15
    right: 15px
  &-20
    right: 20px
  &-25
    right: 25px
  &-30
    right: 30px
  &-33
    right: 33px
  &-35
    right: 35px
  &-40
    right: 40px
  &-45
    right: 45px
  &-50
    right: 50px
  &-55
    right: 55px
  &-60
    right: 60px
  &-65
    right: 65px
  &-70
    right: 70px
  &-75
    right: 75px
  &-80
    right: 80px
  &-85
    right: 85px
  &-90
    right: 90px
  &-95
    right: 95px

.left
  left: 0

  &-5
    left: 5%
  &-10
    left: 10%
  &-15
    left: 15%
  &-20
    left: 20%
  &-25
    left: 25%
  &-30
    left: 30%
  &-33
    left: 33%
  &-35
    left: 35%
  &-40
    left: 40%
  &-45
    left: 45%
  &-50
    left: 50%
  &-55
    left: 55%
  &-60
    left: 60%
  &-65
    left: 65%
  &-70
    left: 70%
  &-75
    left: 75%
  &-80
    left: 80%
  &-85
    left: 85%
  &-90
    left: 90%
  &-95
    left: 95%
