.float
  &-l
  &-left
    float: left
  &-r
  &-right
    float: right

.fixed
  position: fixed

  &-top
    position: fixed
    top: 0

    &-5
      top: 5px
    &-15
      top: 15px

  &-right
    &-15
      right: 15px

.absolute
  position: absolute

  @media screen and (min-width: 300px)
    &-xs
      position: absolute
  @media screen and (min-width: 576px)
    &-s
      position: absolute
  @media screen and (min-width: 768px)
    &-m
      position: absolute
  @media screen and (min-width: 1024px)
    &-l
      position: absolute
  @media screen and (min-width: 1200px)
    &-xl
      position: absolute

.relative
  position: relative

.top
  top: 0
.bottom
  bottom: 0
.right
  right: 0
.left
  left: 0
