.m
  &-auto
    margin: auto

  // &v-
  //   &20
  //     margin-top: 20px
  //     margin-bottom: 20px

  &t
    &-auto
      margin-top: auto

    &-10
      margin-top: 10px
      &perc
        margin-top: 10%

    &-20
      margin-top: 25px
      &perc
        margin-top: 25%

    &-25
      margin-top: 25px
      &perc
        margin-top: 25%

    &-50
      margin-top: 50px
      &perc
        margin-top: 50%

  &b
    &-25
      margin-bottom: 25px
      &perc
        margin-bottom: 25%
    &-50
      margin-bottom: 50px
      &perc
        margin-bottom: 50%

  &l
    &-auto
      margin-left: auto
    &-25
      margin-left: 25px
    &-50
      margin-left: 50px

  &r
    &-5
      margin-right: 5px
    &-10
      margin-right: 10px
    &-15
      margin-right: 15px
    &-20
      margin-right: 20px
    &-25
      margin-right: 25px
    &-30
      margin-right: 30px
    &-50
      margin-right: 50px
    &-auto
      margin-right: auto

  &h
    &-5
      margin-left: 5px
      margin-right: 5px

    &-10
      margin-left: 10px
      margin-right: 10px

    &-25
      margin-left: 25px
      margin-right: 25px

  &v
    &-5
      margin-top: 5px
      margin-bottom: 5px
    &-10
      margin-top: 10px
      margin-bottom: 10px
    &-25
      margin-top: 25px
      margin-bottom: 25px

.p
  &-5
    padding: 5px
  &-10
    padding: 10px
  &-15
    padding: 15px
  &-20
    padding: 20px
  &-25
    padding: 25px
  &-50
    padding: 50px

  &t
    &-10
      padding-top: 10px
    &-15
      padding-top: 15px
    &-20
      padding-top: 20px
    &-25
      padding-top: 25px
    &-100
      padding-top: 100px
  &r
    &-10
      padding-right: 10px
  &b
    &-25
     padding-bottom: 25px

  &lr, &h
    &-5
      padding-left: 5px
      padding-right: 5px

    &-10
      padding-left: 10px
      padding-right: 10px

      &pe, &perc
        padding-left: 10%
        padding-right: 10%

    &-20
      padding-left: 20px
      padding-right: 20px

      &pe, &perc
        padding-left: 20%
        padding-right: 20%

    &-25
      padding-left: 25px
      padding-right: 25px

      &pe, &perc
        padding-left: 25%
        padding-right: 25%
  &tb, &v
    &-5
      padding-top: 5px
      padding-bottom: 5px

    &-10
      padding-top: 10px
      padding-bottom: 10px

    &-15
      padding-top: 15px
      padding-bottom: 15px

    &-25
      padding-top: 25px
      padding-bottom: 25px


// S = SMALL - Mobile

.m
  &-auto-s
    margin: auto

  &t
    &-auto-s
      margin-top: auto

    &-10-s
      margin-top: 10px
    &-10perc-s
      margin-top: 10%

    &-20-s
      margin-top: 25px
    &-20perc-s
      margin-top: 25%

    &-25-s
      margin-top: 25px
    &-25perc-s
      margin-top: 25%

    &-50-s
      margin-top: 50px
    &-50perc-s
      margin-top: 50%

  &b
    &-25-s
      margin-bottom: 25px
    &-25perc-s
      margin-bottom: 25%
    &-50-s
      margin-bottom: 50px
    &-50perc-s
      margin-bottom: 50%

  &l
    &-auto-s
      margin-left: auto
    &-25-s
      margin-left: 25px
    &-50-s
      margin-left: 50px

  &r
    &-5-s
      margin-right: 5px
    &-10-s
      margin-right: 10px
    &-15-s
      margin-right: 15px
    &-20-s
      margin-right: 20px
    &-25-s
      margin-right: 25px
    &-50-s
      margin-right: 50px
    &-auto-s
      margin-right: auto

  &h
    &-5-s
      margin-left: 5px
      margin-right: 5px

    &-10-s
      margin-left: 10px
      margin-right: 10px

    &-25-s
      margin-left: 25px
      margin-right: 25px

  &v
    &-5-s
      margin-top: 5px
      margin-bottom: 5px
    &-10-s
      margin-top: 10px
      margin-bottom: 10px
    &-25
      margin-top: 25px
      margin-bottom: 25px

.p
  &-5-s
    padding: 5px
  &-10-s
    padding: 10px
  &-15-s
    padding: 15px
  &-20-s
    padding: 20px
  &-25-s
    padding: 25px
  &-50-s
    padding: 50px

  &t
    &-10-s
      padding-top: 10px
    &-15-s
      padding-top: 15px
    &-20-s
      padding-top: 20px
    &-25-s
      padding-top: 25px
    &-100-s
      padding-top: 100px

  &lr, &h
    &-5-s
      padding-left: 5px
      padding-right: 5px

    &-10-s
      padding-left: 10px
      padding-right: 10px

    &-10pe-s, &-10perc-s
      padding-left: 10%
      padding-right: 10%

    &-20-s
      padding-left: 20px
      padding-right: 20px

    &-20pe-s, &-20perc-s
      padding-left: 20%
      padding-right: 20%

    &-25-s
      padding-left: 25px
      padding-right: 25px

    &-25pe-s, &-25perc-s
      padding-left: 25%
      padding-right: 25%
  &tb, &v
    &-5-s
      padding-top: 5px
      padding-bottom: 5px

    &-10-s
      padding-top: 10px
      padding-bottom: 10px

    &-15-s
      padding-top: 15px
      padding-bottom: 15px

    &-25-s
      padding-top: 25px
      padding-bottom: 25px
  &r
    &-10-s
      padding-right: 10px

// M = MEDIUM - Tablette

@media screen and (min-width: 768px)
  .m
    &-auto-m
      margin: auto

    &t
      &-auto-m
        margin-top: auto

      &-10-m
        margin-top: 10px
      &-10perc-m
        margin-top: 10%

      &-20-m
        margin-top: 25px
      &-20perc-m
        margin-top: 25%

      &-25-m
        margin-top: 25px
      &-25perc-m
        margin-top: 25%

      &-50-m
        margin-top: 50px
      &-50perc-m
          margin-top: 50%

    &b
      &-25-m
        margin-bottom: 25px
      &-25perc-m
        margin-bottom: 25%
      &-50-m
        margin-bottom: 50px
      &-50perc-m
        margin-bottom: 50%

    &l
      &-auto-m
        margin-left: auto
      &-25-m
        margin-left: 25px
      &-50-m
        margin-left: 50px

    &r
      &-5-m
        margin-right: 5px
      &-10-m
        margin-right: 10px
      &-15-m
        margin-right: 15px
      &-20-m
        margin-right: 20px
      &-25-m
        margin-right: 25px
      &-50-m
        margin-right: 50px
      &-auto-m
        margin-right: auto

    &h
      &-5-m
        margin-left: 5px
        margin-right: 5px

      &-10-m
        margin-left: 10px
        margin-right: 10px

      &-25-m
        margin-left: 25px
        margin-right: 25px

    &v
      &-5-m
        margin-top: 5px
        margin-bottom: 5px
      &-10-m
        margin-top: 10px
        margin-bottom: 10px
      &-25-m
        margin-top: 25px
        margin-bottom: 25px

  .p
    &-5-m
      padding: 5px
    &-10-m
      padding: 10px
    &-15-m
      padding: 15px
    &-20-m
      padding: 20px
    &-25-m
      padding: 25px
    &-50-m
      padding: 50px

    &t
      &-10-m
        padding-top: 10px
      &-15-m
        padding-top: 15px
      &-20-m
        padding-top: 20px
      &-25-m
        padding-top: 25px
      &-100-m
        padding-top: 100px

    &lr, &h
      &-5-m
        padding-left: 5px
        padding-right: 5px

      &-10-m
        padding-left: 10px
        padding-right: 10px

      &-10pe-m, &-10perc-m
        padding-left: 10%
        padding-right: 10%

      &-20-m
        padding-left: 20px
        padding-right: 20px

      &-20pe-m, &-20perc-m
        padding-left: 20%
        padding-right: 20%

      &-25-m
        padding-left: 25px
        padding-right: 25px

      &-25pe-m, &-25perc-m
        padding-left: 25%
        padding-right: 25%

    &tb, &v
      &-5-m
        padding-top: 5px
        padding-bottom: 5px

      &-10-m
        padding-top: 10px
        padding-bottom: 10px

      &-15-m
        padding-top: 15px
        padding-bottom: 15px

      &-25-m
        padding-top: 25px
        padding-bottom: 25px
    &r
      &-10-m
        padding-right: 10px

// L = LARGE - Desktop

@media screen and (min-width: 1024px)
  .m
    &-auto-l
      margin: auto

    &t
      &-auto-l
        margin-top: auto

      &-10-l
        margin-top: 10px
      &-10perc-l
        margin-top: 10%

      &-20-l
        margin-top: 25px
      &-20perc-l
        margin-top: 25%

      &-25-l
        margin-top: 25px
      &-25perc-l
        margin-top: 25%

      &-50-l
        margin-top: 50px
      &-50perc-l
          margin-top: 50%

    &b
      &-25-l
        margin-bottom: 25px
      &-25perc-l
        margin-bottom: 25%
      &-50-l
        margin-bottom: 50px
      &-50perc-l
        margin-bottom: 50%

    &l
      &-auto-l
        margin-left: auto
      &-25-l
        margin-left: 25px
      &-50-l
        margin-left: 50px

    &r
      &-5-l
        margin-right: 5px
      &-10-l
        margin-right: 10px
      &-15-l
        margin-right: 15px
      &-20-l
        margin-right: 20px
      &-25-l
        margin-right: 25px
      &-50-l
        margin-right: 50px
      &-auto-l
        margin-right: auto

    &h
      &-5-l
        margin-left: 5px
        margin-right: 5px

      &-10-l
        margin-left: 10px
        margin-right: 10px

      &-25-l
        margin-left: 25px
        margin-right: 25px

    &v
      &-5-l
        margin-top: 5px
        margin-bottom: 5px
      &-10-l
        margin-top: 10px
        margin-bottom: 10px
      &-25-l
        margin-top: 25px
        margin-bottom: 25px

  .p
    &-5-l
      padding: 5px
    &-10-l
      padding: 10px
    &-15-l
      padding: 15px
    &-20-l
      padding: 20px
    &-25-l
      padding: 25px
    &-50-l
      padding: 50px

    &t
      &-10-l
        padding-top: 10px
      &-15-l
        padding-top: 15px
      &-20-l
        padding-top: 20px
      &-25-l
        padding-top: 25px
      &-100-l
        padding-top: 100px

    &lr, &h
      &-5-l
        padding-left: 5px
        padding-right: 5px

      &-10-l
        padding-left: 10px
        padding-right: 10px

      &-10pe-l, &-10perc-l
        padding-left: 10%
        padding-right: 10%

      &-20-l
        padding-left: 20px
        padding-right: 20px

      &-20pe-l, &-20perc-l
        padding-left: 20%
        padding-right: 20%

      &-25-l
        padding-left: 25px
        padding-right: 25px

      &-25pe-l, &-25perc-l
        padding-left: 25%
        padding-right: 25%
    &tb, &v
      &-5-l
        padding-top: 5px
        padding-bottom: 5px

      &-10-l
        padding-top: 10px
        padding-bottom: 10px

      &-15-l
        padding-top: 15px
        padding-bottom: 15px

      &-25-l
        padding-top: 25px
        padding-bottom: 25px
    &r
      &-10-l
        padding-right: 10px
