$m-1: .5rem
$m-2: 1rem
$m-3: 1.5rem
$m-4: 2rem
$m-5: 2.5rem
$m-6: 3rem
$m-7: 3.5rem
$m-8: 4rem
$m-9: 4.5rem
$m-10: 5rem

$sizes: ("auto": auto, "0": 0, "1": $m-1,"2": $m-2,"3": $m-3,"4": $m-4,"5": $m-5,"6": $m-6,"7": $m-7,"8": $m-8,"9": $m-9,"10": $m-10)

@each $size, $value in $sizes
  .m
    &-#{$size}
      margin: $value
    &v
      &-#{$size}
        margin-top: $value
        margin-bottom: $value
    &h
      &-#{$size}
        margin-left: $value
        margin-right: $value
    &l
      &-#{$size}
        margin-left: $value
    &r
      &-#{$size}
        margin-right: $value
    &b
      &-#{$size}
        margin-bottom: $value
    &t
      &-#{$size}
        margin-top: $value

@media screen and (min-width: 300px)
  @each $size, $value in $sizes
    .m
      &-#{$size}-xs
        margin: $value
      &v
        &-#{$size}-xs
          margin-top: $value
          margin-bottom: $value
      &h
        &-#{$size}-xs
          margin-left: $value
          margin-right: $value
      &l
        &-#{$size}-xs
          margin-left: $value
      &r
        &-#{$size}-xs
          margin-right: $value
      &b
        &-#{$size}-xs
          margin-bottom: $value
      &t
        &-#{$size}-xs
          margin-top: $value

@media screen and (min-width: 576px)
  @each $size, $value in $sizes
    .m
      &-#{$size}-s
        margin: $value
      &v
        &-#{$size}-s
          margin-top: $value
          margin-bottom: $value
      &h
        &-#{$size}-s
          margin-left: $value
          margin-right: $value
      &l
        &-#{$size}-s
          margin-left: $value
      &r
        &-#{$size}-s
          margin-right: $value
      &b
        &-#{$size}-s
          margin-bottom: $value
      &t
        &-#{$size}-s
          margin-top: $value

@media screen and (min-width: 768px)
  @each $size, $value in $sizes
    .m
      &-#{$size}-m
        margin: $value
      &v
        &-#{$size}-m
          margin-top: $value
          margin-bottom: $value
      &h
        &-#{$size}-m
          margin-left: $value
          margin-right: $value
      &l
        &-#{$size}-m
          margin-left: $value
      &r
        &-#{$size}-m
          margin-right: $value
      &b
        &-#{$size}-m
          margin-bottom: $value
      &t
        &-#{$size}-m
          margin-top: $value

@media screen and (min-width: 1024px)
  @each $size, $value in $sizes
    .m
      &-#{$size}-l
        margin: $value
      &v
        &-#{$size}-l
          margin-top: $value
          margin-bottom: $value
      &h
        &-#{$size}-l
          margin-left: $value
          margin-right: $value
      &l
        &-#{$size}-l
          margin-left: $value
      &r
        &-#{$size}-l
          margin-right: $value
      &b
        &-#{$size}-l
          margin-bottom: $value
      &t
        &-#{$size}-l
          margin-top: $value
