.full
  &size
    width: 100%
    height: 100%
  &screen
    width: 100vw
    height: 100vh

.w
  &-half
    width: 50%

  &-10
    width: 0%
  &-15
    width: 15%
  &-20
    width: 20%
  &-25
    width: 25%
  &-30
    width: 30%
  &-35
    width: 35%
  &-40
    width: 40%
  &-45
    width: 45%
  &-50
    width: 50%
  &-55
    width: 55%
  &-60
    width: 60%
  &-65
    width: 65%
  &-70
    width: 70%
  &-75
    width: 75%
  &-80
    width: 80%
  &-85
    width: 85%
  &-90
    width: 90%
  &-95
    width: 95%

  &-full
    width: 100%

    &screen
      width: 100vw

.h
  &-half
    height: 50%

  &-10
    height: 0%
  &-15
    height: 15%
  &-20
    height: 20%
  &-25
    height: 25%
  &-30
    height: 30%
  &-35
    height: 35%
  &-40
    height: 40%
  &-45
    height: 45%
  &-50
    height: 50px
    &perc
      height: 50%
  &-55
    height: 55%
  &-60
    height: 60%
  &-65
    height: 65%
  &-70
    height: 70%
  &-75
    height: 75px
    &perc
      height: 75%
  &-80
    height: 80%
  &-85
    height: 85%
  &-90
    height: 90%
  &-95
    height: 95%

  &-screen
    height: 100vh

    &-10
      height: 0vh
    &-15
      height: 15vh
    &-20
      height: 20vh
    &-25
      height: 25vh
    &-30
      height: 30vh
    &-35
      height: 35vh
    &-40
      height: 40vh
    &-45
      height: 45vh
    &-50
      height: 50vh
    &-55
      height: 55vh
    &-60
      height: 60vh
    &-65
      height: 65vh
    &-70
      height: 70vh
    &-75
      height: 75vh
    &-80
      height: 80vh
    &-85
      height: 85vh
    &-90
      height: 90vh
    &-95
      height: 95vh

  &-full
    height: 100%

    &screen
      height: 100vh
