.input
  border: 1px solid #dbdbdb
  padding-left: .75em
  padding-right: .75em
  padding-top: calc(.375em - 1px)
  padding-bottom: calc(.375em - 1px)
  line-height: 1.5
  height: 2.25em

  &:focus
    outline: none

  &.is-rounded
    border-radius: 25px

  &.is-medium
    font-size: 1.25rem

    &~.icon
      font-size: 1.25rem

  &.is-large
    font-size: 1.5rem

    &~.icon
      font-size: 1.5rem

.control
  position: relative

  &.has-icon
    &-left .input
      padding-left: 2.25em
    &-right .input
      padding-right: 2.25em

  .icon
    display: flex
    position: absolute
    top: 0
    width: 2.25em
    justify-content: center
    align-items: center
    height: 100%
    color: #dbdbdb

    &.is-left
      left: 0
    &.is-right
      right: 0

// S = SMALL - Mobile

.control
  position: relative

  &.has-icon
    &-left .input
      padding-left: 2.25em
    &-right .input
      padding-right: 2.25em

  .icon-s
    display: flex
    position: absolute
    top: 0
    width: 2.25em
    justify-content: center
    align-items: center
    height: 100%
    color: #dbdbdb

    &.is-left
      left: 0
    &.is-right
      right: 0


// M = MEDIUM - Tablette

@media screen and (min-width: 768)
  .control
    position: relative

    &.has-icon
      &-left .input
        padding-left: 2.25em
      &-right .input
        padding-right: 2.25em

    .icon-m
      display: flex
      position: absolute
      top: 0
      width: 2.25em
      justify-content: center
      align-items: center
      height: 100%
      color: #dbdbdb

      &.is-left
        left: 0
      &.is-right
        right: 0

// L = LARGE - Desktop

@media screen and (min-width: 1024px)
  .control
    position: relative

    &.has-icon
      &-left .input
        padding-left: 2.25em
      &-right .input
        padding-right: 2.25em

    .icon-m
      display: flex
      position: absolute
      top: 0
      width: 2.25em
      justify-content: center
      align-items: center
      height: 100%
      color: #dbdbdb

      &.is-left
        left: 0
      &.is-right
        right: 0
