.button
  border: 0
  cursor: pointer
  border: 1px solid transparent
  padding-left: .75em
  padding-right: .75em
  padding-top: calc(.375em - 1px)
  padding-bottom: calc(.375em - 1px)
  justify-content: center
  align-items: center
  line-height: 1.5
  font-size: 1em

  &.is-fullWidth
    display: flex
    width: 100%

  &.is-medium
    font-size: 1.25rem

  &.is-rounded
    border-radius: 25px
