@keyframes spinAround
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

.button
  display: inline-flex
  position: relative
  border: 0
  cursor: pointer
  border: 1px solid transparent
  padding-left: .75em
  padding-right: .75em
  padding-top: calc(.375em - 1px)
  padding-bottom: calc(.375em - 1px)
  justify-content: center
  align-items: center
  line-height: 1.5
  font-size: 1rem
  outline: none
  text-align: center

  & .icon, & .icon.is-small, & .icon.is-medium, & .icon.is-large
    height: 1.5em
    width: 1.5em

  & .icon
    margin-left: calc(-0.375em - 1px)
    margin-right: 0.1875em

  & .icon
    display: inline-flex
    justify-content: center
    align-items: center

  &.is-fullWidth
    display: flex
    width: 100%

  &.is-small
    font-size: .75rem

  &.is-medium
    font-size: 1.25rem

  &.is-large
    font-size: 1.5rem

  &.is-rounded
    border-radius: 25px

  &.is-smallrounded, &.is-bordered
    border-radius: 5px

  &.is-loading
    color: transparent !important
    &::after
      animation: spinAround 500ms infinite linear
      border: 2px solid #dbdbdb
      border-radius: 290486px
      border-right-color: transparent
      border-top-color: transparent
      content: ""
      display: block
      height: 1em
      position: relative
      width: 1em
      pointer-events: none
      position: absolute
      left: calc(50% - (1em / 2))
      top: calc(50% - (1em / 2))
      position: absolute !important

  // XS = EXTRASMALL - Mobile
  @media screen and (min-width: 300px)
    &.is-small-xs
      font-size: .75rem

    &.is-normal-xs
      font-size: 1rem

    &.is-medium-xs
      font-size: 1.25rem

    &.is-large-xs
      font-size: 1.5rem

  // S = SMALL - Mobile
  @media screen and (min-width: 576px)
    &.is-small-s
      font-size: .75rem

    &.is-normal-s
      font-size: 1rem

    &.is-medium-s
      font-size: 1.25rem

    &.is-large-s
      font-size: 1.5rem

  // M = MEDIUM - Tablette
  @media screen and (min-width: 768px)
    &.is-small-m
      font-size: .75rem

    &.is-normal-m
      font-size: 1rem

    &.is-medium-m
      font-size: 1.25rem

    &.is-large-m
      font-size: 1.5rem

  // L = LARGE - Desktop
  @media screen and (min-width: 1024px)
    &.is-small-l
      font-size: .75rem

    &.is-normal-l
      font-size: 1rem

    &.is-medium-l
      font-size: 1.25rem

    &.is-large-l
      font-size: 1.5rem

  // XL = EXTRA LARGE - Large Desktop
  @media screen and (min-width: 1200px)
    &.is-small-xl
      font-size: .75rem

    &.is-normal-xl
      font-size: 1rem

    &.is-medium-xl
      font-size: 1.25rem

    &.is-large-xl
      font-size: 1.5rem
