@keyframes spinAround
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

.button
  display: inline-flex
  position: relative
  border: 0
  cursor: pointer
  border: 1px solid transparent
  padding-left: .75em
  padding-right: .75em
  padding-top: calc(.375em - 1px)
  padding-bottom: calc(.375em - 1px)
  justify-content: center
  align-items: center
  line-height: 1.5
  font-size: 1em

  & .icon, & .icon.is-small, & .icon.is-medium, & .icon.is-large
    height: 1.5em
    width: 1.5em

  & .icon:first-child:not(:last-child)
    margin-left: calc(-0.375em - 1px)
    margin-right: 0.1875em

  & .icon
    display: inline-flex
    justify-content: center
    align-items: center

  &.is-fullWidth
    display: flex
    width: 100%

  &.is-small
    font-size: .75rem

  &.is-medium
    font-size: 1.25rem

  &.is-large
    font-size: 1.5rem

  &.is-rounded
    border-radius: 25px

  &.is-loading
    color: transparent !important
    &::after
      animation: spinAround 500ms infinite linear
      border: 2px solid #dbdbdb
      border-radius: 290486px
      border-right-color: transparent
      border-top-color: transparent
      content: ""
      display: block
      height: 1em
      position: relative
      width: 1em
      pointer-events: none
      position: absolute
      left: calc(50% - (1em / 2))
      top: calc(50% - (1em / 2))
      position: absolute !important
