.pointer
  cursor: pointer

.displayed, .display
  display: inherit

  @media screen and (min-width: 300px)
    &-xs
      display: inherit
  @media screen and (min-width: 300px)
    &-s
      display: inherit
  @media screen and (min-width: 300px)
    &-m
      display: inherit
  @media screen and (min-width: 300px)
    &-l
      display: inherit
  @media screen and (min-width: 300px)
    &-xl
      display: inherit

.undisplayed, .undisplay
  display: none

  @media screen and (min-width: 300px)
    &-xs
      display: none
  @media screen and (min-width: 300px)
    &-s
      display: none
  @media screen and (min-width: 300px)
    &-m
      display: none
  @media screen and (min-width: 300px)
    &-l
      display: none
  @media screen and (min-width: 300px)
    &-xl
      display: none

.invisible
  opacity: 0

.no-borders, .no-border, .no-borders
  border: none
.bordermax
  border-radius: 100%
